<html><head><title>..:: {ADMINISTRATION_MSG} :: {IMAGES_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 

</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<!-- BEGIN tree --><a 
			href="{admin_ads_href}?category_id={tree_cat_id}">{tree_cat_name}</a>&nbsp;&gt;&nbsp;<!-- END tree --><a 
			href="{admin_ads_href}?category_id={tree_current_id}">{tree_current_name}</a>&nbsp;&gt;&nbsp;<a
			href="{admin_ads_edit_href}?category_id={category_id}&item_id={item_id}">{item_title}</a>&nbsp;&gt;&nbsp;<b>{IMAGES_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{IMAGES_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- begin sorters -->
<tr align="center" class="middle">
	<td>
		{sorter_image_id}
	</td>
	<td>
		{sorter_image_title}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- end sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{image_id}
	</td>
	<td align="left">
		&nbsp;{image_title}
	</td>
	<td>
		<a href="{admin_ads_image_href}?image_id={image_id}&category_id={category_id}&item_id={item_id}">{EDIT_IMAGE_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">
		&nbsp;{NO_IMAGES_WERE_FOUND_MSG}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td align=center colspan="3">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr class="middle">
			<td>&nbsp;<a href="{admin_ads_image_href}?category_id={category_id}&item_id={item_id}">{NEW_IMAGE_MSG}</a>&nbsp;</td><!-- begin navigator_block -->
			<td>&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
		</tr>
		</table>
	</td>
</tr>
</table>	

	</td>
</tr>
</table>
</fieldset>

{admin_footer}
</body>
</html>