<html><head><title>{ADMINISTRATION_MSG} :: {EMOTION_ICONS_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;&nbsp;<b>{EMOTION_ICONS_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{EMOTION_ICONS_MSG}</legend>

<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- begin sorters -->
<tr align="center" class="middle">
	<td>
		{sorter_icon_id}
	</td>
	<td>
		{sorter_icon_code}
	</td>
	<td>
		{IMAGE_MSG}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- END sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{icon_id}
	</td>
	<td>
		&nbsp;{icon_code}
	</td>
	<td>
		<img src="{icon_image}" width="{icon_width}" height="{icon_height}" border="0" alt="{icon_name}">
	</td>
	<td>
		<a href="{admin_icon_href}?icon_id={icon_id}">{EDIT_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="4">
		&nbsp;{NO_RECORDS}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="4">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr class="middle">
			<td>
				&nbsp;<a href="{admin_icon_href}">{ADD_NEW_MSG}</a>&nbsp;
			</td><!-- begin navigator_block -->
			<td align="right">
				&nbsp;{navigator}&nbsp;
			</td><!-- end navigator_block -->
		</tr>
		</table>
	</td>
</tr>
</table>	

</fieldset>

{admin_footer}
</body>
</html>
