<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{SUBSCRIPTIONS_GROUP_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_subscriptions_groups_href}">{SUBSCRIPTIONS_GROUPS_MSG}</a>&nbsp;&gt;
			<b>{SUBSCRIPTIONS_GROUP_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{SUBSCRIPTIONS_GROUP_MSG}</legend>

<form action="{admin_subscriptions_group_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="tab" value="{tab}">
<input type="hidden" name="page" value="{page}">
<input type="hidden" name="sort_ord" value="{sort_ord}">
<input type="hidden" name="sort_dir" value="{sort_dir}">
<input type="hidden" name="group_id" value="{group_id}">

	<table border="0" cellpadding="6" cellspacing="1" width="100%">
	<!-- BEGIN errors -->
	<tr class="usual">
		<td colspan="2" align="center">
			<div class="error">{errors_list}</div>
		</td>
	</tr><!-- END errors -->
	<tr class="usual">
		<td>
			&nbsp;{IS_ACTIVE_MSG}
		</td>
		<td>
			<!-- begin is_active -->
			<input type="radio" name="is_active" {is_active_checked} value="{is_active_value}">{is_active_description}<!-- end is_active -->
		</td>
	</tr>
	<tr class="usual">
		<td>
			&nbsp;{GROUP_NAME_MSG} *
		</td>
		<td>
			<input class="field" type="text" name="group_name" value="{group_name}" size="60" maxlength="255">
		</td>
	</tr>
	<tr class="middle">
		<td></td>
		<td>
			<input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN delete -->
			<input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{confirm_delete}');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- END delete -->
			<input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'">
		</td>
	</tr>
	
	</table>
</form>

</fieldset>

{admin_footer}
</body>
</html>
