<html><head><title>..:: {ADMINISTRATION_MSG} :: {EDIT_STATE_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 

</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr><td align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;
			<a href="{admin_states_href}">{STATES_MSG}</a>&nbsp;&gt;&nbsp;<b>{EDIT_STATE_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<td>
<fieldset>
<legend>{EDIT_STATE_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

<form action="{admin_state_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="state_id" value="{state_id}">
<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usual">
	<td>
		&nbsp;{SHOW_FOR_USER_MSG}
	</td>
	<td>
		<input type="checkbox" name="show_for_user" {show_for_user} value="1">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{COUNTRY_FIELD} *
	</td>
	<td>
		<select class="text" name="country_id"><!-- begin country_id -->
			<option {country_id_selected} value="{country_id_value}">{country_id_description}<!-- end country_id -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{STATE_CODE_MSG} *
	</td>
	<td>
		<input class="field" type="text" size="10" name="state_code" value="{state_code}" maxlength="8">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{STATE_NAME_MSG} *
	</td>
	<td>
		<input class="field" type="text" size="40" name="state_name" value="{state_name}">
	</td>
</tr>
<tr class="middle">
	<td>
	</td>
	<td>
		<input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN delete -->
		<input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- END delete -->
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'">
	</td>
</tr>
</table>
</form>	

	</td>
</tr>
</table>
</fieldset>
</td></tr></table>


{admin_footer}
</body>
</html>
