<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {LAYOUTS_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
</head>

<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="breadcrumb"> 

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<b>{CMS_MSG}</b>
		</td>
		<!-- begin sitelist -->
		<td class="usual" align="right">
			<form method="GET" name="reloadform">
			<input type="hidden" name="operation" value="">
				{SELECT_SITE_MSG}&nbsp;
				<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
					<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
				</select>		
			</form>
		</td>
		<!-- end sitelist -->
	</tr>
	</table>

</td></tr></table>

<br>

<fieldset>
<legend>{MAIN_PAGES_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=index"><img src="images/ico-index.gif" border="0" hspace="2" align="top">{HOME_PAGE_LAYOUT_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=site_map"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{SITE_MAP_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=site_search"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{FULL_SITE_SEARCH_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=custom_page"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{CUSTOM_PAGES_MSG}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=forgot_password"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{FORGOTTEN_PASSWORD_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=reset_password"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{RESET_PASSWORD_INFO_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=polls_previous"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{PREVIOUS_POLLS_MSG}</a></td>
	<td width="20%" colspan="2">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>

<!-- begin products_pages -->
<fieldset>
<legend>{PRODUCTS_PAGE_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_list"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{PRODUCTS_LISTING_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_search"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{PRODUCTS_SEARCH_RESULTS_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_details"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{PRODUCTS_DETAILS_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_options"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{PRODUCT_OPTIONS_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_compare"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{PRODUCTS_COMPARE_RESULTS_MSG}</a></td>
</tr>
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_advanced_search"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{ADVANCED_SEARCH_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=wishlist"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{WISHLIST_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_releases"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{RELEASES_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=products_changes_log"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{CHANGES_LOG_TITLE}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=basket"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{ADMIN_BASKET_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=cart_save"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{SAVE_CART_BUTTON}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=cart_retrieve"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{RETRIEVE_CART_BUTTON}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=subscriptions"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{SUBSCRIPTIONS_MSG}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>

<fieldset>
<legend>{ADMIN_CHECKOUT_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=checkout_login"><img src="images/ico-index.gif" border="0" hspace="2" align="top">{CHECKOUT_LOGIN_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=order_info"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{CHECKOUT_INFO_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=order_payment_details"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{CHECKOUT_PAYMENT_TITLE}</a></td>
</tr>
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=order_confirmation"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{CHECKOUT_CONFIRM_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=order_final"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{FINAL_CHECKOUT_PAGE_MSG}</a></td>
	<td>&nbsp;</td>
</tr>
</table>
</fieldset>
<br>

<!-- end products_pages -->

<!-- begin users_pages -->
<fieldset>
<legend>{USERS_PAGES_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=user_list"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{USER_LISTING_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=user_login"><img src="images/ico-index.gif" border="0" hspace="2" align="top">{LOGIN_DETAILS_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=user_profile"><img src="images/ico-index.gif" border="0" hspace="2" align="top">{PROFILE_SETTINGS_INFO_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=userhome_pages"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{DEFAULT_USERHOME_PAGE_MSG}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>
<!-- end users_pages -->

<!-- begin articles_pages -->
<fieldset>
<legend>{ARTICLES_CATS_LAYOUT_MSG}</legend>
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="middle">
	<td>
		{CATEGORY_MSG}:
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		&nbsp;
	</td>
</tr>

<!-- BEGIN articles -->
<tr class="usual" align="center">
	<td align="left">
		<!--<a href="{admin_articles_href}?category_id={art_cat_id}">-->{articles_category} {ADMIN_PAGES_MSG}:<!--</a>-->
	</td>
	<td>
		<a href="{admin_layout_page_href}?art_cat_id={art_cat_id}&page_name=list">{LISTING_PAGE_MSG}</a>
	</td>
	<td>
		<a href="{admin_layout_page_href}?art_cat_id={art_cat_id}&page_name=details">{DETAILS_PAGE_MSG}</a>
	</td>
</tr><!-- END articles -->
<tr class="middle">
	<td colspan="3" align="right">
		&nbsp;<!-- begin articles_navigator_block -->{articles_navigator}<!-- end articles_navigator_block -->&nbsp;
	</td>
</tr>
</table>	
</fieldset>
<br>
<!-- end articles_pages -->

<!-- begin helpdesk_pages -->
<fieldset>
<legend>{SUPPORT_LAYOUT_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=support_new"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{NEW_TICKET_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=support_reply"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{REPLYING_TICKETS_MSG}</a></td>
	<td width="80%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>
<!-- end helpdesk_pages -->

<!-- begin forum_pages -->
<fieldset>
<legend>{FORUM_LAYOUT_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=forum_list"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{FORUMS_LIST_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=forum_topics"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{FORUM_TOPICS_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=forum_topic"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{FORUM_TOPICS_THREAD_MSG}</a></td>
	<td width="60%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>
<!-- end forum_pages -->

<!-- BEGIN manuals_pages -->
<fieldset>
<legend>{MANUAL_LAYOUT_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=manuals_list"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{MANUALS_LIST_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=manuals_articles"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{MANUAL_ARTICLES_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=manuals_article_details"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{MANUAL_ARTICLE_DETAILS_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=manuals_search"><img src="images/ico-details.gif" border="0" hspace="2" align="top">{MANUAL_SEARCH_MSG}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>
<!-- END manuals_pages -->

<!-- BEGIN ads_pages -->
<fieldset>
<legend>{CLASSIFIED_ADS_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap><a href="{admin_layout_page_href}?page_name=ads_list"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{LISTING_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=ads_details"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{DETAILS_PAGE_MSG}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=ads_compare"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{ADS_COMPARE_TITLE}</a></td>
	<td nowrap><a href="{admin_layout_page_href}?page_name=ads_search"><img src="images/ico-list.gif" border="0" hspace="2" align="top">{ADS_ADVANCED_SEARCH_MSG}</a></td>
	<td width="40%">&nbsp;</td>
</tr>
</table>
</fieldset>
<br>
<!-- END ads_pages -->

<br>

{admin_footer}
</body>
</html>