<html><head><title>..:: {ADMINISTRATION_MSG} :: {CHANGE_PASSWORD_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_admins_href}">{ADMINISTRATORS_MSG}</a>&nbsp;&gt;
			<a href="{admin_admin_href}?admin_id={admin_id}">{admin_name}</a>&nbsp;&gt;
			<b>{CHANGE_PASSWORD_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{CHANGE_PASSWORD_MSG}</legend>

<table width="100%" border="0" cellspacing="1" cellpadding="8" align="center">
<form action="{admin_admin_password_href}" name="profile" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="admin_id" value="{admin_id}">
<!-- BEGIN errors -->
<tr>
	<td colspan="2" class="usual">
		<div align="center" class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usual">
	<td align=right>
		<b>{LOGIN_FIELD}</b> *
	</td>
	<td>
		<input class="field" size="40" type="text" name="login" value="{login}">
	</td>
</tr>
<tr class="usual">
	<td align=right>
		<b>{CURRENT_PASS_FIELD}</b>
	</td>
	<td>
		{current_password}
	</td>
</tr>
<tr class="usual">
	<td align=right>
		{CHOOSE_A_MSG} <b>{NEW_PASS_FIELD}</b>
	</td>
	<td>
		<input class="field" size="40" type="password" name="password" value="{password}">
	</td>
</tr>
<tr class="usual">
	<td align=right>
		<b>{CONFIRM_PASS_FIELD}</b>
	</td>
	<td>
		<input class="field" size="40" type="password" name="confirm" value="{confirm}">
	</td>
</tr>
<tr class="middle" >
	<td>
	</td>
	<td>
		<!-- BEGIN update_button -->
		<input class="submit" type="submit" value="{UPDATE_BUTTON}" onclick="document.profile.operation.value='save'"> &nbsp; <!-- END update_button -->
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.profile.operation.value='cancel'">
	</td>
</tr>
</form>
</table>
</fieldset>

<br><br>

{admin_footer}

</body></html>