<html><head><title>..:: {ADMINISTRATION_MSG} :: {CC_START_YEARS_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 

</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr><td align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;&nbsp;<b>{CC_START_YEARS_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<td>
<fieldset>
<legend>{CC_START_YEARS_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr align="center" class="middle">
	<td>
		{sorter_start_year}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{start_year}
	</td>
	<td>
		<a href="{admin_cc_start_year_href}?start_year={start_year}">{EDIT_START_YEAR_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="2">
		&nbsp;{NO_RECORDS_MSG}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="2">
		&nbsp;<a href="{admin_cc_start_year_href}">{NEW_START_YEAR_MSG}</a><!-- begin navigator_block -->&nbsp;{navigator}&nbsp;<!-- end navigator_block -->
	</td>
</tr>
</table>	

	</td>
</tr>
</table>
</fieldset>
</td></tr></table>

{admin_footer}
</body>
</html>
