<html><head><title>..:: {ADMINISTRATION_MSG} :: {STATIC_TABLES_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 
 
</head>


<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<b>{STATIC_TABLES_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<td>
<fieldset>
<legend>{STATIC_TABLES_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

		<table cellspacing="1" cellpadding="8" border="0" align="center" width="100%">
		<tr>
			<td class="usual">
				<a href="{admin_item_types_href}">{PRODUCT_TYPES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_manufacturers_href}">{MANUFACTURERS_TITLE}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_countries_href}">{COUNTRIES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_states_href}">{STATES_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_credit_cards_href}">{CREDIT_CARDS_MSG} {TYPES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_issue_numbers_href}">{SWITCH_SOLO_ISSUE_NUMBERS_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_cc_expiry_years_href}">{CREDIT_CARD_EXPIRY_YEAR_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_cc_start_years_href}">{CREDIT_CARD_START_YEAR_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_shipping_times_href}">{SHIPPING_TIMES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_shipping_rules_href}">{SHIPPING_RULES_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_release_types_href}">{RELEASE_TYPES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_change_types_href}">{CHANGE_TYPES_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_currencies_href}">{CURRENCIES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_companies_href}">{COMPANIES_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_languages_href}">{LANGUAGE_TITLE}</a>
			</td>
			<td class="usual">
				<a href="{admin_search_engines_href}">{SEARCH_ENGINES_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_allowed_cell_phones_href}">{CELL_PHONES_ALLOWED_NUMBERS_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_icons_href}">{EMOTION_ICONS_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_google_base_types_href}">{GOOGLE_BASE_ITEM_TYPES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_google_base_attributes_href}">{GOOGLE_BASE_ATTRIBUTE_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_price_codes_href}">{PRICE_CODES_MSG}</a>
			</td>
			<td class="usual">
				
			</td>
		</tr>

		</table>
	</td>
</tr>
</table>
</fieldset>
</td></tr></table>

{admin_footer}
</body>
</html>
