<html><head><title>..:: {ADMINISTRATION_MSG} :: {BLACK_IPS_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<b>{BLACK_IPS_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{BLACK_IPS_MSG}</legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
</tr>
<tr align="center"> 
	<td>

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr align="center" class="middle">
	<td>
		{sorter_ip_address}
	</td>
	<td>
		{sorter_address_action}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{ip_address}
	</td>
	<td align="left">
		&nbsp;{address_action}
	</td>
	<td>
		<a href="{admin_black_ip_href}?ip_address={ip_address}">{EDIT_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">
		&nbsp;{NO_RECORDS_MSG}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="3">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				&nbsp;<a href="{admin_black_ip_href}">{ADD_NEW_IP_MSG}</a>
			</td>
			<!-- begin navigator_block -->
			<td align="right">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
		</tr>
		</table>
	</td>
</tr>
</table>	

	</td>
</tr>
</table>
</fieldset>

{admin_footer}
</body>
</html>
