<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADMIN_HELP_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 

<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=400');
		popupWin.focus();
	}
//-->
</script>
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{HOW_TO_SETUP_EMAIL_MESSAGE}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
	&nbsp;


	<div class="title" align="center">{FORUM_INFO_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center">
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{site_url}</td><td>&nbsp;{SITE_URL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_id}</td><td>&nbsp;{FORUM_THREAD_UNIQUE_IDENTIFICATOR_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_id}</td><td>&nbsp;{USER_IDENTIFICATOR_INITIATED_THREAD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{topic}</td><td>&nbsp;{THREAD_TOPIC_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{topic_description}</td><td>&nbsp;{TOPIC_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_added}</td><td>&nbsp;{WHEN_THREAD_WAS_INITIATED_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_modified}</td><td>&nbsp;{WHEN_THREAD_WAS_MODIFIED_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_user_name}</td><td>&nbsp;{USER_NAME_INITIATED_THREAD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_user_email}</td><td>&nbsp;{USER_EMAIL_INITIATED_THREAD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{thread_remote_address}</td><td>&nbsp;{USER_IP_INITIATED_THREAD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{message_added}</td><td>&nbsp;{WHEN_MESSAGE_WAS_ADDED_TO_THREAD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{message_user_name}</td><td>&nbsp;{USER_NAME_ADDED_MESSSAGE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{message_user_email}</td><td>&nbsp;{USER_EMAIL_ADDED_MESSAGE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{message_remote_address}</td><td>&nbsp;{USER_IP_ADDED_MESSAGE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{message}</td><td>&nbsp;{MESSAGE_TEXT_MSG}&nbsp;</td>
	</tr>
	</table>

	</td></tr></table>
	&nbsp;





			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html>