<html><head><title>..:: {ADMINISTRATION_MSG} :: {CUSTOM_FIELD_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{CUSTOM_FIELD_HELP_DESC}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header">
		<table border="0" cellspacing="1" cellpadding="6" width="100%">
		<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{FIELD_DESC_MSG}&nbsp;</td>
	</tr>
	<!-- BEGIN fields -->
	<tr class="usual">
		<td>&nbsp;{{field_name}}</td><td>&nbsp;{field_title}&nbsp;</td>
	</tr>
	<!-- END fields -->
	</table>

	</td></tr></table><br>


			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html>