<html><head><title>{ADMINISTRATION_MSG} :: {MANUFACTURERS_TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;&nbsp;<b>{MANUFACTURERS_TITLE}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{MANUFACTURERS_TITLE}</legend>

<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- BEGIN sorters -->
<tr align="center" class="middle">
	<td>
		{sorter_manufacturer_id}
	</td>
	<td>
		{sorter_manufacturer_order}
	</td>
	<td>
		{sorter_manufacturer_name}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- END sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{manufacturer_id}
	</td>
	<td>
		{manufacturer_order}
	</td>
	<td align="left">
		&nbsp;{manufacturer_name}
	</td>
	<td>
		<a href="{admin_manufacturer_href}?manufacturer_id={manufacturer_id}">{EDIT_MANUFACTURER_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="4">
		&nbsp;{NO_RECORDS}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="4">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr class="middle">
			<td>
				&nbsp;<a href="{admin_manufacturer_href}">{NEW_MANUFACTURER_MSG}</a>&nbsp;
			</td><!-- begin navigator_block -->
			<td align="right">
				&nbsp;{navigator}&nbsp;
			</td><!-- end navigator_block -->
		</tr>
		</table>
	</td>
</tr>
</table>	

</fieldset>

{admin_footer}
</body>
</html>