<html><head><title>..:: {ADMINISTRATION_MSG} :: {SUPPORT_STATIC_TABLES_MSG} ::..</title>


<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 
 
</head>


<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr><td align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;
			<a href="{admin_support_href}">{HELPDESK_MSG}</a>&nbsp;&gt;&nbsp;<b>{SUPPORT_STATIC_TABLES_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<td>
<fieldset>
<legend>{SUPPORT_STATIC_TABLES_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

		<table cellspacing="1" cellpadding="8" border="0" align="center" width="100%">
		<tr>
			<td class="usual">
				<a href="{admin_support_types_href}">{SUPPORT_TYPES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_support_products_href}">{PRODUCTS_MSG}</a>
			</td>
		</tr>
		<tr>
			<td class="usual">
				<a href="{admin_support_priorities_href}">{PRIORITIES_MSG}</a>
			</td>
			<td class="usual">
				<a href="{admin_support_statuses_href}">{STATUSES_MSG}</a>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</fieldset>
</td></tr></table>

{admin_footer}
</body>
</html>
