<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADMIN_PRODUCT_MSG} {ADMIN_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center" class="header">
			&nbsp;<b>{HOW_TO_SETUP_EMAIL_MESSAGE}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
	&nbsp;
	<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr align="center">
		<td class="header">&nbsp;{TAG_NAME_MSG}&nbsp;</td>                               	
		<td class="header">&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr><!-- BEGIN tell_friend_block -->
	<tr>
		<td class="middle" colspan="2" align="center">&nbsp;{TELL_FRIEND_TAGS_MSG}</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_name}</td><td>&nbsp;{USER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_email}</td><td>&nbsp;{USER_EMAIL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{friend_name}</td><td>&nbsp;{FRIEND_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{friend_email}</td><td>&nbsp;{FRIEND_EMAIL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_comment}</td><td>&nbsp;{USER_COMMENT_MSG}&nbsp;</td>
	</tr><!-- END tell_friend_block -->
	<tr>
		<td class="middle" colspan="2" align="center">&nbsp;{PRODUCT_INFO_MSG}</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_id}</td><td>&nbsp;{PRODUCT_IDENTIFIER_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_name}&nbsp;</td><td>&nbsp;{PROD_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_url}&nbsp;</td><td>&nbsp;{PRODUCT_URL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{manufacturer_name}&nbsp;</td><td>&nbsp;{MANUFACTURER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{manufacturer_code}&nbsp;</td><td>&nbsp;{MANUFACTURER_CODE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{price}&nbsp;</td><td>&nbsp;{PRODUCT_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{short_description}&nbsp;</td><td>&nbsp;{SHORT_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{full_description}&nbsp;</td><td>&nbsp;{FULL_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	</table>

	</td></tr></table>

			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a class="header" href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html> 