<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {ADVERT_IMAGE_SETTINGS_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
</head>
<body class="commonbg">

{admin_header}

<form action="{admin_ads_images_settings_href}" name="record" method="POST">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="breadcrumb"> 

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_ads_href}">{ADS_TITLE}</a>&nbsp;&gt;
			<b>{IMAGE_SETTINGS_MSG}</b>
		</td>
		<!-- begin sitelist -->
		<td class="usual" align="right">
			{SELECT_SITE_MSG}&nbsp;
			<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
				<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
			</select>		
		</td>
		<!-- end sitelist -->
	</tr>
	</table>

</td></tr></table>

<br>

<fieldset>
<legend>{IMAGE_SETTINGS_MSG}</legend>

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">

<!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="middle">
	<td colspan="2">
		&nbsp;<b>{CUSTOMERS_IMAGES_RESTRICTIONS_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{IMAGE_SMALL_MSG} 
	</td>
	<td>
		<input class="field" type="text" size="5" name="image_small_width" value="{image_small_width}">
		x
		<input class="field" type="text" size="5" name="image_small_height" value="{image_small_height}">
    ,&nbsp;
		<input class="field" type="text" size="8" name="image_small_size" value="{image_small_size}">
    &nbsp;&nbsp;
    <input type="checkbox" name="image_small_resize" {image_small_resize} value="1">
		{ALWAYS_RESIZE_IMAGE_NOTE}
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{IMAGE_LARGE_MSG}
	</td>
	<td>
		<input class="field" type="text" size="5" name="image_large_width" value="{image_large_width}">
		x
		<input class="field" type="text" size="5" name="image_large_height" value="{image_large_height}">
		,&nbsp;
		<input class="field" type="text" size="8" name="image_large_size" value="{image_large_size}">
    &nbsp;&nbsp;
		<input type="checkbox" name="image_large_resize" {image_large_resize} value="1">
		{ALWAYS_RESIZE_IMAGE_NOTE}
	</td>
</tr>
<tr class="middle">
	<td colspan="2">
		&nbsp;<b>{MORE_PICTURES_SETTINGS_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{MORE_PICTURES_SETTINGS_NOTE}
	</td>
	<td >
		<input class="field" type="text" name="images_number" value="{images_number}" size="20" maxlength="255">
	</td>
</tr>

<tr class="middle">
	<td></td>
	<td >
		<input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'">
	</td>
</tr>
</form>
</table>

</fieldset>


{admin_footer}

</body>
</html>
