<html><head><title>..:: {ADMINISTRATION_MSG} :: {CREDIT_CARDS_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;&nbsp;<b>{CREDIT_CARDS_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{CREDIT_CARDS_MSG}</legend>

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr align="center" class="middle">
	<td>
		{sorter_credit_card_id}
	</td>
	<td>
		{sorter_credit_card_name}
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{credit_card_id}
	</td>
	<td align="left">
		&nbsp;{credit_card_name}
	</td>
	<td>
		<a href="{admin_credit_card_href}?credit_card_id={credit_card_id}">{EDIT_CREDIT_CARD_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">
		&nbsp;{NO_RECORDS_MSG}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="3">
		&nbsp;<a href="{admin_credit_card_href}">{NEW_CREDIT_CARD_MSG}</a><!-- begin navigator_block -->&nbsp;{navigator}&nbsp;<!-- end navigator_block -->
	</td>
</tr>
</table>	

</fieldset>

{admin_footer}
</body>
</html>
