<html><head><title>..:: {ADMINISTRATION_MSG} :: {EDIT_LANGUAGE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script language="JavaScript">
<!--
	function openWindow(pagename, filetype)
	{
		var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=400,height=300');
		uploadWin.focus();
	}

	function setFileName(filename, filetype)
	{
		var siteUrl = '{site_url}';
		if (filename != "")
		{
			if (filetype == "language") {
				document.record.language_image.value = siteUrl + "images/flags/" + filename;
				document.record.language_image.focus();
			} else if (filetype == "language_active") {
				document.record.language_image_active.value = siteUrl + "images/flags/" + filename;
				document.record.language_image_active.focus();
			}

		}
	}
//-->
</script>
</head>
<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;
			<a href="{admin_languages_href}?page={page}">{LANGUAGE_TITLE}</a>&nbsp;&gt;&nbsp;<b>{EDIT_LANGUAGE_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<fieldset>
<legend>{EDIT_LANGUAGE_MSG}</legend>

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<form action="{admin_language_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="language_edit" value="{language_edit}">
<input type="hidden" name="sort_ord" value="{sort_ord}">
<input type="hidden" name="sort_dir" value="{sort_dir}">
<input type="hidden" name="page" value="{page}">
<input type="hidden" name="sp" value="{sp}">
<!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usual">
	<td>
		&nbsp;{SHOW_FOR_USER_MSG}
	</td>
	<td>
		<input type="checkbox" name="show_for_user" {show_for_user} value="1">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{LANGUAGE_CODE_MSG} *
	</td>
	<td>
		<input class="field" type="text" size="5" name="language_code_edit" value="{language_code_edit}" maxlength="2">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{ADMIN_ORDER_NUMBER_MSG} *
	</td>
	<td>
		<input class="field" type="text" size="5" name="language_order" value="{language_order}" maxlength="2">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{NAME_MSG} *
	</td>
	<td>
		<input class="field" type="text" size="60" name="language_name" value="{language_name}">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{LANGUAGE_IMAGE_MSG} 
	</td>
	<td>
		<input class="field" type="text" size="60" name="language_image" value="{language_image}">
		&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'language')"><b>{UPLOAD_IMAGE_MSG}</b></a>
		&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'language')"><b>{SELECT_IMAGE_MSG}</b></a>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{LANGUAGE_IMAGE_ACTIVE_MSG} 
	</td>
	<td>
		<input class="field" type="text" size="60" name="language_image_active" value="{language_image_active}">
		&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'language_active')"><b>{UPLOAD_IMAGE_MSG}</b></a>
		&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'language_active')"><b>{SELECT_IMAGE_MSG}</b></a>
	</td>
</tr>
<tr class="middle">
	<td>
	</td>
	<td>
		<input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN delete -->
		<input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- END delete -->
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'">
	</td>
</tr>
</form>	
</table>

</fieldset>

{admin_footer}
</body>
</html>