<html><head><title>..:: {ADMINISTRATION_MSG} :: {USER_PRODUCT_MSG} {ADMIN_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{HOW_TO_SETUP_EMAIL_MESSAGE}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div><br>

	<div class="title" align="center">{ADMIN_USER_MSG} {PRODUCT_INFO_MSG}</div>
	<table border="0" cellspacing="0" cellpadding="0" align="center" width="450">
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_id}</td><td>&nbsp;{PRODUCT_ID_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_showing}</td><td>&nbsp;{PROD_SHOWN_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_order}</td><td>&nbsp;{PROD_ORDER_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_name}</td><td>&nbsp;{PROD_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{friendly_url}</td><td>&nbsp;{FRIENDLY_URL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{manufacturer_code}</td><td>&nbsp;{PROD_CODE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{weight}</td><td>&nbsp;{WEIGHT_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{issue_date}</td><td>&nbsp;{PROD_ISSUE_DATE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_compared}</td><td>&nbsp;{PROD_ALLOWED_COMPARISON_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{tax_free}</td><td>&nbsp;{PROD_TAX_FREE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{language_code}</td><td>&nbsp;{PROD_LANGUAGE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_price_edit}</td><td>&nbsp;{PROD_CHANGE_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_sales}</td><td>&nbsp;{PROD_ACTIVATE_DISCOUNT_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{price}</td><td>&nbsp;{PROD_LIST_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{sales_price}</td><td>&nbsp;{PROD_DISCOUNT_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{trade_price}</td><td>&nbsp;{PROD_TRADE_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{trade_sales}</td><td>&nbsp;{PROD_DISCOUNT_TRADE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{buying_price}</td><td>&nbsp;{PROD_BUYING_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{discount_percent}</td><td>&nbsp;{PROD_SHOWN_DISCOUNT_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{properties_price}</td><td>&nbsp;{PROD_OPTIONS_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{trade_properties_price}</td><td>&nbsp;{OPTIONS_TRADE_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{stock_level}</td><td>&nbsp;{STOCK_QUANTITY_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{features}</td><td>&nbsp;{HIGHLIGHTS_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{short_description}</td><td>&nbsp;{SHORT_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{full_description}</td><td>&nbsp;{FULL_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_special_offer}</td><td>&nbsp;{PROD_OFFER_ACTIVATE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{special_offer}</td><td>&nbsp;{SPECIAL_OFFER_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{notes}</td><td>&nbsp;{NOTES_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{meta_title}</td><td>&nbsp;{META_TITLE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{meta_keywords}</td><td>&nbsp;{META_KEYWORDS_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{meta_description}</td><td>&nbsp;{META_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{buy_link}</td><td>&nbsp;{PROD_DIRECT_LINK_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{downloadable}</td><td>&nbsp;{ADMIN_DOWNLOADABLE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{download_period}</td><td>&nbsp;{DOWNLOAD_PERIOD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{download_path}</td><td>&nbsp;{ADMIN_DOWNLOAD_PATH_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{generate_serial}</td><td>&nbsp;{SERIAL_GENERATE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{serial_period}</td><td>&nbsp;{SERIAL_PERIOD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{activations_number}</td><td>&nbsp;{ACTIVATION_MAX_NUMBER_MSG}&nbsp;</td>
	</tr>
	</table>

	</td></tr></table>

			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html>