<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADMIN_QUOTE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">

<!--
body, td { font-family:  "Verdana", "Tahoma", "Arial"; font-size: 10pt; }
//-->
</style>

<script language="javascript">
<!--

function sendMail()
{
  var flag_mail = document.getElementById("flag_mail");
  //alert (flag_mail);
  if (confirm("Are you sure you want to send this mail???"))
  {
  	flag_mail.value = "1";
  }	else {
  	flag_mail.value = "0";
  }	

 	document.admin_quote_form.submit();
}
-->
</script>

</head>
<body>

<!-- begin packing -->

<!-- begin page_break -->
<br style="page-break-after: always;">
<!-- end page_break -->

<div align="center">
&nbsp;<br>

<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
<tr>
	<td valign="top">
		<!-- begin packing_logo -->		
		<img align="right" src="{image_path}" {image_width} {image_height} width="242" height="72">
		<!-- end packing_logo -->		

		{packing_header}
		
	</td>
</tr>
</table>


&nbsp;
<table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
<tr valign="top">
	<td width="50%">
		<b>{ADMIN_QUOTE_MSG} {DATE_MSG}</b>: {date_added}
	</td>
</tr>
<tr>
	<td width="50%">
		<b>{ADMIN_QUOTE_MSG} No</b>: {quote_id}
	</td>
</tr>
</table>
&nbsp;

<table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
<tr valign="top">
	<td>
		<b><u>{ADMIN_QUOTE_MSG} to:</u></b><br><br>
		{USER_NAME_MSG}: &nbsp;&nbsp;{user_name}<br>
		{USER_EMAIL_MSG}: &nbsp;&nbsp;{user_email}<br>
	</td>
</tr>
</table>
<br>
&nbsp;

<table width="600" cellspacing="1" cellpadding="3" border="1" align="center">
<tr bgcolor="white" align="center">
	<td width="10%" bgcolor="white">
		<b>#</b>
	</td>
	<td width="60%" bgcolor="white">
		<b>Feature</b>
	</td>
	<td width="20%" bgcolor="white">
		<b>{PRICE_MSG}</b>
	</td>
	<td width="20%" bgcolor="white">
		<b>{DATE_DUE_MSG}</b>
	</td>
</tr><!-- BEGIN items -->
<tr bgcolor="white" valign="top">
	<td width="10%" align="center">
		{counter}
	</td>
	<td width="60%">
		{feature_description}
	</td>
	<td width="20%" align="center">
		&nbsp;{price}&nbsp;
	</td>
	<td width="20%" align="center">
		{date_due}
	</td>
	
</tr><!-- END items -->
</table>

&nbsp;<br>&nbsp;

<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
<tr>
	<td width="100%" valign="top" align="center">
		<font face="tahoma" size="1" color="gray">
			{packing_footer}
		</font>
	</td>
</tr>
</table>
<!-- end packing -->
</body>
</html>