<!-- begin column_on -->
<a href="{sorting_href}">{column_name}</a><!-- end column_on --><!-- begin column_off -->
{column_name}<!-- end column_off --><!-- begin image_on_asc -->
<img src="../images/default/asc_on.gif" width="13" height="10" border="0"><!-- end image_on_asc --><!-- begin image_off_asc -->
<a href="{sorting_href}"><img src="../images/default/asc_off.gif" width="13" height="10" border="0"></a><!-- end image_off_asc --><!-- begin image_on_desc -->
<img src="../images/default/desc_on.gif" width="13" height="10" border="0"><!-- end image_on_desc --><!-- begin image_off_desc -->
<a href="{sorting_href}"><img src="../images/default/desc_off.gif" width="13" height="10" border="0"></a><!-- end image_off_desc -->
