<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {ORDER_CONFIRMATION_PAGE_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename + "?cc=1", 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=400');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="mainbg">

{admin_header}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="breadcrumb"> 

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<b>{ORDER_PAGE_SETTINGS_MSG}</b>
		</td>
		<!-- begin sitelist -->
		<td class="usual" align="right">
			<form method="GET" name="reloadform">
			<input type="hidden" name="operation" value="">
				{SELECT_SITE_MSG}&nbsp;
				<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
					<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
				</select>		
			</form>
		</td>
		<!-- end sitelist -->
	</tr>
	</table>

</td></tr></table>

<br>

<fieldset>
<legend>{ORDER_PAGE_SETTINGS_MSG}</legend>

<form action="{admin_order_confirmation_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<table border="0" cellpadding="6" cellspacing="1" width="100%"><!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="middle">
	<td colspan="2">
		&nbsp;<b>{ADMIN_HTML_SETTINGS_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		&nbsp;{INTRO_TEXT_MSG}
	</td>
	<td>
		<textarea name="intro_text" cols="100" rows="16">{intro_text}</textarea>
	</td>
</tr>
<tr class="middle">
	<td>
		&nbsp;
	</td>
	<td>
		<input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'">
	</td>
</tr>
</table>
</form>

</fieldset>

{admin_footer}

</body>
</html>
