</td></tr></table>

<br>
<table align="center" cellspacing="4" cellpadding="1" border="0" width="775">
<tr>
	<td><img src="../images/icons/home.gif" width="16" height="16" border="0"></td>
	<td><a class="small" href="{index_href}"><b>{SITE_HOME_MSG}</b></a>&nbsp;</td>
	<td><img src="../images/icons/admin.gif" width="16" height="16" border="0"></td>
	<td><a class="small" href="{admin_href}"><b>{ADMINISTRATION_MENU_MSG}</b></a>&nbsp;&nbsp;</td>
	<td><a class="small" href="{admin_items_list_href}">{PRODUCTS_CATEGORIES_MSG}</a>&nbsp;&nbsp;</td>
	<td><a class="small" href="{admin_orders_href}">{SALES_ORDERS_MSG}</a>&nbsp;&nbsp;</td>
	<td><a class="small" href="{admin_reviews_href}">{PRODUCTS_REVIEWS_MSG}</a></td>
	<!-- begin support_link -->
	<td><a class="small" href="{admin_support_href}">{HELPDESK_MSG}</a></td>
	<!-- end support_link -->
</tr>
</table>
<br>