<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {SELECT_USER_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/users.js"></script>
<script language="JavaScript">
<!--

function clearSearch() {
	document.users_list.sw.value = "";
	document.users_list.submit();
}

//-->
</script>
</head>

<body class="popup">

<form action="{admin_users_select_href}" name="users_list">
<input type="hidden" name="operation" value="1">
<input type="hidden" name="form_name" value="{form_name}">
<input type="hidden" name="field_name" value="{field_name}">
<input type="hidden" name="selection_type" value="{selection_type}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="5" border="0" width="100%" align="center">
	<tr>
		<td colspan="6" class="header" align="center">
			<a class="header" href="javascript:closeUsersWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	<tr>
		<td colspan="6" class="usual" align="center">
			<input type="text" name="sw" value="{sw}" class="search">&nbsp;
			<input type="submit" value="{SEARCH_BUTTON}" class="submit">&nbsp;
			<input type="submit" value="{CLEAR_BUTTON}" class="submit" onClick="clearSearch()">
		</td>
	</tr>
	<!-- begin search_results -->
	<tr>
		<td colspan="6" class="usual" align="center">{found_message}</td>
	</tr>
	<!-- end search_results -->
	<!-- begin users_sorters -->
	<tr class="middle" align="center">
		<td>{sorter_user_id}</td>
		<td>{sorter_login}</td>
		<td>{sorter_name}</td>
		<td>{sorter_email}</td>
		<td>{FROM_MSG}</td>
		<td>&nbsp;</td>
	</tr><!-- end users_sorters --><!-- begin users -->
	<tr class="usual">
		<td align="center">
			{user_id}
		</td>
		<td>
			&nbsp;{login}
		</td>
		<td>
			&nbsp;{user_name}
		</td>
		<td>
			&nbsp;{user_email}
		</td>
		<td align="center">
			&nbsp;{from}
		</td>
		<td align="center" class="small">
			&nbsp;<a href="javascript:selectUser('{user_id}', '{user_name_js}');">{SELECT_MSG}</a>&nbsp;
		</td>
	</tr><!-- end users -->
	<!-- begin navigator_block -->
	<tr class="middle">
		<td colspan="5">&nbsp;{navigator}&nbsp;</td>
		<td>&nbsp;</td>
	</tr><!-- end navigator_block -->	<tr>
		<td colspan="6" class="header">
			<a class="header" href="javascript:closeUsersWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</form>

</body>
</html>
