<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADMIN_FORUM_TITLE} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 
</head>

<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;
			<a href="{admin_forum_href}">{ADMIN_FORUM_TITLE}</a><!-- begin current_category_block -->&nbsp;&gt;&nbsp;<a href="{admin_forum_href}?category_id={category_id}">{current_category}</a><!-- end current_category_block --><!-- begin current_forum_block -->&nbsp;&gt;&nbsp;<b>{current_forum}</b><!-- end current_forum_block -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td  valign=top width="20%">
		<fieldset>
			<legend>{title_left_block}</legend>
			<table width="100%" border="0" cellspacing="1" cellpadding="5">
				<!-- begin list_block --><!-- begin list_category -->
				<tr class="usual"> 
					<td>
						<a href="{admin_forum_href}?category_id={list_category_id}"><b>{list_category_name}</b></a>
					</td>
					<td align=center><a href="{admin_forum_category_href}?category_id={list_category_id}">{EDIT_MSG}</a></td>
				</tr><!-- end list_category --><!-- begin list_forum -->
				<tr class="usual"> 
					<td>
						&nbsp;&nbsp;--&nbsp;<a href="{list_forum_url}">{list_forum_name}</a>
					</td>
					<td align=center><a href="{admin_forum_edit_href}?forum_id={list_forum_id}">{EDIT_MSG}</a></td>
				</tr><!-- end list_forum --><!-- end list_block -->				
				<tr>
					<td class="middle" colspan=2>
						<a href="{admin_forum_category_href}">{NEW_CATEGORY_MSG}</a>&nbsp;<!-- begin new_forum_link --><br>
						<a href="{admin_forum_edit_href}">{NEW_FORUM_MSG}</a>&nbsp;<!-- end new_forum_link -->
					</td>
				</tr>
			</table>
		</fieldset>
	</td>
	<td>&nbsp;&nbsp;</td>
	<td width=80% valign=top>
		<fieldset>
		<legend>{title_block}</legend>

			<table border="0" cellpadding="5" cellspacing="1" width="100%">
			<!-- begin block_errors -->
			<tr>
				<td colspan="5"><div class="error">{error_list}</div></td>
			</tr><!-- end block_errors -->
			<!-- begin block_message -->
			<tr>
				<td colspan="5"><div class="message">{message_list}</div></td>
			</tr><!-- end block_message -->
			<!-- begin sorters -->
			<tr class="middle" align="center">
				<td>
					{sorter_id}
				</td>
				<td>
					{sorter_topic}
				</td>
				<td>
					{sorter_owner}
				</td>
				<td>
					{sorter_replies}
				</td>
				<td>
					{sorter_updated}
				</td>
			</tr><!-- end sorters --><!-- begin records -->
			<tr class="usual" valign="top" align="center">
				<td>
					{thread_id}
				</td>
				<td align="left">
					{html_before_title}<a href="{admin_forum_thread_href}?thread_id={thread_id}">{topic}</a>{html_after_title}
					<br>
					<span style="color: black; font-size: 8pt">
					<!-- BEGIN product_related_priv -->
					<a class="small" href="{admin_forum_items_related_href}?thread_id={thread_id}">{ADMIN_RELATED_PRODUCTS_TITLE}</a>
					<!-- END product_related_priv -->
					<!-- BEGIN related_articles_priv -->
					{delimiter}<a class="small" href="{admin_forum_articles_related_href}?thread_id={thread_id}">{RELATED_ARTICLES_MSG}</a>
					<!-- END related_articles_priv -->
					</span>
				</td>
				<td align="left">
					{user_name} &lt;{user_email}&gt;
				</td>
				<td>
					{replies}
				</td>
				<td>
					{thread_updated}
				</td>
			</tr><!-- end records --><!-- begin forum_links -->
			<tr class="middle" align="right">
				<td colspan="5">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>&nbsp;<a href="{admin_forum_topic_url}">{ADD_NEW_MSG}</a>&nbsp;</td>
						<!-- begin navigator_block -->
						<td align="right">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
					</tr>
					</table>
				</td>
			</tr><!-- end forum_links -->
			</table>	

		</fieldset>
	</td>
</tr>
</table>
<br>

{admin_footer}

</body>
</html>