<html><head><title>..:: {ADMINISTRATION_MSG} :: {SHIPPING_MODULES_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">

</head>
<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;&nbsp;<b>{SHIPPING_MODULES_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr>
</table>

<br>

<fieldset>
<legend>{SHIPPING_MODULES_MSG}</legend>
<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- BEGIN sorters --> 
<tr align="center" class="middle">
	<td>
		{sorter_shipping_module_id}
	</td>
	<td>
		{sorter_shipping_module_name}
	</td>
	<td>
		{sorter_is_active}
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		&nbsp;
	</td>
</tr><!-- END sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>
		{shipping_module_id}
	</td>
	<td align="left">
		&nbsp;{shipping_module_name}
	</td>
	<td>
		&nbsp;<a class="small" href="{shipping_active_url}">{is_active}</a>
	</td>
	<td>
		<a href="{admin_shipping_module_href}?shipping_module_id={shipping_module_id}">{EDIT_SHIPPING_MSG}</a>
	</td>
	<td>
		<a href="{admin_shipping_types_href}?shipping_module_id={shipping_module_id}">{SHIPPING_METHODS_MSG}</a>
	</td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="5">
		&nbsp;{NO_RECORDS}
	</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="5">
		&nbsp;<a href="{admin_shipping_module_href}">{NEW_SHIPPING_MODULE}</a><!-- begin navigator_block -->&nbsp;{navigator}&nbsp;<!-- end navigator_block -->
	</td>
</tr>
</table>	

</fieldset>

{admin_footer}
</body>
</html>