<html><head><title>{ADMINISTRATION_MSG} :: {SELECT_FILE_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/product.js"></script>
<script language="JavaScript">
<!--

function selectImage(imageName)
{
	var siteUrl = '{site_url}';

	window.opener.setFileName(imageName, document.image.filetype.value, document.image.image_index.value, siteUrl);

	window.opener.focus();
	window.close();
}

function closeWindow()
{
	window.opener.focus();
	window.close();
}

function clearSearch()
{
	document.image.s_im.value = "";
	document.image.submit();

}

function showImageItems(event, imageHref, imageId)
{
	var r = /gif$|jpg$|jpeg$|png$/i;
	var ext = r.exec(imageHref);

	if (ext != null) {
		var imageItems = document.getElementById("image_items_" + imageId);
		if (imageItems) {
		   	if (imageItems.innerHTML == ''){
				imageItems.innerHTML = '<img id="image_' + imageId + '" src=\'show_image.php?filepath=' + escape(imageHref) + '&width=150\' border=\'0\'>';
			}	
			var element = document.getElementById("image_" + imageId);
			widht = 0;
			height = 0;
			var x = event.clientX;
			var y = event.clientY;
			var noheight = document.body.scrollTop;
			var nowidth = document.body.scrollLeft;
			var max_h = document.body.clientHeight;
			var max_w = document.body.clientWidth;
			//alert('1- ' + max_h + ' 2- ' + y + ' 3- ' + document.body.scrollHeight + ' 4- ' + event.pageY + ' 5- ' + noheight);
			if (element != null) {
				width = element.width;
				height = element.height;
			}
			
			  var leftPos = x + 15;
			  var other = max_w - width;
			  if (leftPos + width > document.body.clientWidth){
			    leftPos = x - 15 - width;
				if (leftPos < 0){
				  leftPos = nowidth;
				} else {
				  leftPos += nowidth;
				}
			  } else {
			    leftPos += nowidth;
			  }
				  
			
			if (max_h-y < 50)
			 y += 50;
			  if (height > max_h){
				var topPos = (max_h/2)-(height/2) + noheight;
			  } else {
				  var topPos = y-(height/2);
				  var other = max_h - height;
				  if (topPos < 0){topPos = 0  + noheight;} else {
				    if (topPos > other){topPos = other + noheight;} else {
					  topPos += noheight;
					}
				  }
				  
			  }
			
			imageItems.style.left = leftPos;
			imageItems.style.top = topPos;
			imageItems.style.display = "block";
		}
	}
}

function hideImageItems(event, imageId)
{
	var imageItems = document.getElementById("image_items_" + imageId);
	if (imageItems) {
		imageItems.style.display = 'none';
	}
}

//-->

</script>

</head>
<body class="popup">

<form action="{admin_select_href}" name="image">
<input type="hidden" name="action" value="1">
<input type="hidden" name="filetype" value="{filetype}">
<input type="hidden" name="image_index" value="{image_index}">
<input type="hidden" name="layout_id" value="{layout_id}">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header">

	<table cellspacing="1" cellpadding="5" border="0" width="100%" align="center">
	<tr>
		<td colspan="4" class="header">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr align="center">
				<td>
					<a class="header" href="{admin_upload_href}?filetype={filetype}&layout_id={layout_id}"><b>{UPLOAD_FILE_MSG}</b></a>
				</td>
				<td>
					<a class="header" href="javascript:closeWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="usual">
			&nbsp;{CURRENT_DIR_MSG}: <b>{files_dir}</b>
			<!-- begin subdir_id_block -->
			<select name="subdir_id" onchange="document.image.submit();"><!-- begin subdir_id -->
				<option {subdir_id_selected} value="{subdir_id_value}">{subdir_id_description}<!-- end subdir_id -->
			</select><!-- end subdir_id_block -->
		</td>
	</tr>
	<!-- begin search_images -->
	<tr>
		<td colspan="4" class="usual" align="center">
			<input type="text" name="s_im" value="{s_im}" size="40" class="field">&nbsp;
			<input type="submit" value="Search" class="submit">&nbsp;
			<input type="submit" value="Clear" class="submit" onClick="clearSearch()">
		</td>
	</tr>
	<!-- end search_images -->
	<!-- begin no_images -->
	<tr>
		<td colspan="4" class="middle" align="center">{NO_FILES_MSG}</td>
	</tr>
	<!-- end no_images -->
	<!-- begin images -->
	<tr class="middle">
		<td align="center">{sorter_filename}</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
	</tr>
	<!-- begin image_row -->
	<tr class="usual">
		<td class="small" onmouseover="showImageItems(event, '{image_href}', '{image_id}')" onmousemove="showImageItems(event, '{image_href}', '{image_id}')"
			onmouseout="hideImageItems(event, '{image_id}')" style="cursor: default;">
			&nbsp;<a href="javascript:selectImage('{image_name_js}');">{image_name_html}</a><div id="image_items_{image_id}" style="display: none; position: absolute;"></div>&nbsp;
		</td>
		<td align="center" class="small">
				&nbsp;<a href="javascript:selectImage('{image_name_js}');">{SELECT_MSG}</a>&nbsp;
		</td>
		<td align="center" class="small">
			&nbsp;<a href="{image_href}" target="_new" >{VIEW_MSG}</a>&nbsp;
		</td>
		<td align="center" class="small">
			&nbsp;<a href="{image_delete_url}" onClick="return confirm('{confirm_delete}');">{DELETE_BUTTON}</a>&nbsp;
		</td>
	</tr>
	<!-- end image_row -->

	<!-- begin image_row_no_preview -->
	<tr class="usual">
		<td class="small">
			&nbsp;<a href="javascript:selectImage('{image_name_js}');">{image_name_html}</a>&nbsp;
		</td>
		<td align="center" class="small">
				&nbsp;<a href="javascript:selectImage('{image_name_js}');">{SELECT_MSG}</a>&nbsp;
		</td>
		<td align="center" class="small">
			&nbsp;<a href="{image_href}" target="_new" >{VIEW_MSG}</a>&nbsp;
		</td>
		<td align="center" class="small">
			&nbsp;<a href="{image_delete_url}" onClick="return confirm('{confirm_delete}');">{DELETE_BUTTON}</a>&nbsp;
		</td>
	</tr>
	<!-- end image_row_no_preview -->
	<!-- begin navigator_block -->
	<tr class="middle">
		<td colspan="4" align="right">&nbsp;{navigator}&nbsp;</td>
	</tr><!-- end navigator_block -->
	<!-- end images -->
	<tr>
		<td colspan="4" class="header">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr align="center">
				<td>
					<a class="header" href="{admin_upload_href}?filetype={filetype}&layout_id={layout_id}"><b>{UPLOAD_FILE_MSG}</b></a>
				</td>
				<td>
					<a class="header" href="javascript:closeWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>

</td></tr></table>

</form>

</body>
</html>