<html><head><title>..::{ADMINISTRATION_MSG} :: {EDIT_CUSTOM_PAGE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<link rel="stylesheet" href="../styles/editor.css" type="text/css">
<script language= "JavaScript" type= "text/javascript" src= "../js/editor.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/list_fields.js"></script>
<script language="JavaScript">
<!--
var list_fields_names = new Array('user_types','sites');
//-->
</script>
</head>

<body class="commonbg">
{admin_header} 


<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_pages_href}">{WEB_PAGES_MSG}</a>&nbsp;&gt;&nbsp;<b>{EDIT_PAGE_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table cellspacing="0" cellpadding="0" border="0">
<tr><!-- BEGIN tabs -->
	<td onClick="changeTab('{tab_name}'); return false;"><div id="{tab_id}" class="{tab_class}"><a class="blackSm" href="#" onClick="changeTab('{tab_name}'); return false;">{tab_title}</a></td><!-- END tabs -->
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #999;">
<tr align="center">
	<td class="">
<form action="{admin_page_href}" name="record" method="POST" onSubmit="selectListFieldsAll(); submit_editor(Array('editor_pb'));">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="page_id" value="{page_id}">
<input type="hidden" name="tab" value="{tab}">
<input type="hidden" name="user_types" value="">
<input type="hidden" name="sites" value="">

<div id="data_general" style="{general_style}">
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usual">
	<td colspan="2" class="usual">
		<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td nowrap>
				<input type="checkbox" name="is_showing" {is_showing} value="1"> 
				{ALLOW_ACCESS_TO_PAGE_MSG}
			</td>
			<td align="right">
				<font class="small">{ASTERISK_MSG}</font>
      </td>
		</tr>
    </table>
	</td>
</tr>
<tr class="middle">
	<td colspan="2">
		&nbsp;{GENERAL_PAGE_INFO_MSG}
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{PAGE_CODE_MSG}	*
	</td>
	<td class="small">
		<input class="field" type="text" name="page_code" value="{page_code}">
		({PAGE_CODE_NOTE}: {page_href}?page={page_code})
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{META_TITLE_MSG} *
	</td>
	<td>
		<input class="field" type="text" name="page_title" size="80" value="{page_title}">
	</td>
</tr>
<!-- BEGIN friendly_url_block -->
<tr class="usual">
	<td>
		&nbsp;{FRIENDLY_URL_MSG}
	</td>
	<td>
		<input class="field" type="text" name="friendly_url" value="{friendly_url}" size="80" maxlength="255">
	</td>
</tr>
<!-- END friendly_url_block -->
<tr class="usual">
	<td>
		&nbsp;{PAGE_ORDER_MSG} *
	</td>
	<td>
		<input class="field"  type="text" name="page_order" size="10" value="{page_order}">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{SHOW_IN_SITEMAP_MSG}
	</td>
	<td>
		<input type="checkbox" name="is_site_map" {is_site_map} value="1">
	</td>
</tr>
<tr class="middle">
	<td colspan="2">
		&nbsp;{PAGE_TYPES_MSG}
	</td>
</tr>
<!-- begin is_html_block -->
<tr class="usual">
	<td>
		&nbsp;{PAGE_FORMAT_MSG}
	</td>
	<td><!-- begin is_html -->
		<input type="radio" name="is_html" {is_html_checked} value="{is_html_value}">{is_html_description}<!-- end is_html -->
	</td>
</tr>
<!-- end is_html_block -->
<tr class="usual">
	<td>
		&nbsp;{WINDOW_TYPE_MSG}
	</td>
	<td><!-- begin page_type -->
		<input type="radio" name="page_type" {page_type_checked} value="{page_type_value}">{page_type_description}<!-- end page_type -->
	</td>
</tr>
<tr class="middle">
	<td colspan="2">
		&nbsp;{PAGE_SOURCES_MSG}
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{REDIRECT_TO_URL_MSG}
	</td>
	<td>
		<input class="field" type="text" name="page_url" size="80" value="{page_url}">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{GET_BODY_FROM_FILE_MSG}
	</td>
	<td>
		<input class="field" type="text" name="page_path" size="80" value="{page_path}">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{PAGE_BODY_MSG}
	</td>
	<td>
		<textarea class="text" name="page_body" style="display: block; width: 565px; height: 200px;">{page_body}</textarea>
		<script language= "JavaScript" type= "text/javascript">
		<!--
			var editor_pb = new VA_HTMLeditor('content_pb','../','{html_editor}');
			editor_pb.text_field_name = 'page_body';
			editor_pb.formname = 'record';
			editor_pb.css_file = '{css_file}';
			editor_pb.displayEditor('editor_pb', 565, 250);
		//-->
		</script>
	</td>
</tr>
	<tr class="middle">
		<td colspan="4" class="middle">
			&nbsp;{META_DATA_MSG}
		</td>
	</tr>
	<tr class="usual">
		<td>
			&nbsp;{META_TITLE_MSG}
		</td>
		<td colspan="3">
			<input class="field" type="text" name="meta_title" value="{meta_title}" size="80" maxlength="255">
		</td>
	</tr>
	<tr class="usual">
		<td>
			&nbsp;{META_KEYWORDS_MSG}
		</td>
		<td colspan="3">
			<input class="field" type="text" name="meta_keywords" value="{meta_keywords}" size="80" maxlength="255">
		</td>
	</tr>
	<tr class="usual">
		<td>
			&nbsp;{META_DESCRIPTION_MSG}
		</td>
		<td colspan="3">
			<textarea name="meta_description" cols="80" rows="3">{meta_description}</textarea>
		</td>
	</tr>
<tr class="middle">
	<td>
	</td>
	<td>
		<input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN delete -->
		<input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{confirm_delete}');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- END delete -->
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'">
	</td>
</tr>
</table>
</div>

<div id="data_user_types" style="{user_types_style}">
	<table cellspacing="1" cellpadding="4" border="0" width="100%">
	<tr class="usual">
		<td colspan="3">
			&nbsp; <input type="checkbox" name="user_types_all" {user_types_all} onClick="checkListFields('user_types');" value="1">
			Show this page for all users types, including unregistered users (untick this checkbox to select users types manually)
		</td>
	</tr>
	<tr class="usual">
		<td colspan="2">
	
			<table width="100%" border="0" cellspacing="1" cellpadding="3">
			<tr align="center" class="usual">
				<td width="40%"><b>{AVAILABLE_USER_TYPES_MSG}</b></td>
				<td width="20%"><b>{OPERATIONS_MSG}</b></td>
				<td width="40%"><b>Show this page for users types in the list below</b></td>
			</tr>
			<tr align="center" class="usual">
				<td width="40%">
					<select name="available_user_types" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_user_types -->
						<option value="{type_id}">{type_name}<!-- end available_user_types -->
					</select>
				</td>
				<td width="20%">
	
					<input class="submit" readonly type="button" name="add_user_types" value="&nbsp;&nbsp; {ADD_BUTTON}  -> &nbsp;&nbsp;" onClick="addListFields('user_types');">
					<br><br>
					<input class="submit" type="button" name="remove_user_types" value="<- {REMOVE_BUTTON}" onClick="removeListFields('user_types');">
				</td>
				<td width="40%">
	
					<select name="selected_user_types" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_user_types -->
						<option value="{type_id}">{type_name}<!-- end selected_user_types -->
					</select>
				</td>
			</tr>
			</table>
	
		</td>
	</tr>
	<tr class="middle">
		<td colspan="3">
			&nbsp; <input class="submit" type="submit" value=" {save_button} " onCLick="document.record.operation.value='save'"> &nbsp;
		</td>
	</tr>
	</table>
</div>
<!-- begin sitelist-->
<div id="data_sites" style="{sites_style}">
	<table cellspacing="1" cellpadding="4" border="0" width="100%">
	<tr class="usual">
		<td colspan="3">
			&nbsp; <input type="checkbox" name="sites_all" {sites_all} onClick="checkListFields('sites');" value="1">
			Use this page for all sites (untick this checkbox to select sites manually)
		</td>
	</tr>
	<tr class="usual">
		<td colspan="2">
	
			<table width="100%" border="0" cellspacing="1" cellpadding="3">
			<tr align="center" class="usual">
				<td width="40%"><b>{AVAILABLE_SITES_MSG}</b></td>
				<td width="20%"><b>{OPERATIONS_MSG}</b></td>
				<td width="40%"><b>{USE_ITEM_SITES_MSG}</b></td>
			</tr>
			<tr align="center" class="usual">
				<td width="40%">
					<select name="available_sites" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_sites -->
						<option value="{site_id}">{site_name}<!-- end available_sites-->
					</select>
				</td>
				<td width="20%">
	
					<input class="submit" readonly type="button" name="add_sites" value="&nbsp;&nbsp; {ADD_BUTTON}  -> &nbsp;&nbsp;" onClick="addListFields('sites');">
					<br><br>
					<input class="submit" type="button" name="remove_sites" value="<- {REMOVE_BUTTON}" onClick="removeListFields('sites');">
				</td>
				<td width="40%">
	
					<select name="selected_sites" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_sites -->
						<option value="{site_id}">{site_name}<!-- end selected_sites -->
					</select>
				</td>
			</tr>
			</table>
	
		</td>
	</tr>
	<tr class="middle">
		<td colspan="3">
			&nbsp; <input class="submit" type="submit" value=" {save_button} " onCLick="document.record.operation.value='save'"> &nbsp;
		</td>
	</tr>
	</table>
</div>
<!-- end sitelist-->

</form>

	</td>
</tr>
</table>

{admin_footer}
<script language="JavaScript">
<!--
	checkListFieldsAll();
//-->
</script>
</body>
</html>
