<html><head><title>..:: {ADMINISTRATION_MSG} :: {EMAIL_FIELDS_HELP_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
 

</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{EMAIL_FIELDS_HELP_DESC}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>

	&nbsp;
	<table border="0" cellspacing="0" cellpadding="0" align="center" width=500>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td width="20%">&nbsp;{FIELD_NAME_MSG}&nbsp;</td>                               	
		<td>&nbsp;{FIELD_DESC_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;<b>{EMAIL_TO_MSG}</b></td>
		<td>
			<div align="justify">
				{EMAIL_TO_FIELD_DESC}
				<br>({EG_MSG} <b>manager@yoursite.com, support@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_FROM_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_FROM_DESC}
				<br>({EG_MSG} <b>admin@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_CC_MSG}
 			</b>&nbsp;</td>
		<td>
			<div align="justify">
			{EMAIL_CC_DESC}
			<br>({EG_MSG} <b>copy@yoursite.com, another_copy@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_BCC_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
			{EMAIL_BCC_DESC}
			<br>({EG_MSG} <b>blind_copy@yoursite.com, my_copy@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_REPLY_TO_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_REPLY_TO_DESC}
				<br>({EG_MSG} <b>replies@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_RETURN_PATH_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_RETURN_PATH_DESC}
				<br>({EG_MSG} <b>bounced@yoursite.com</b>)
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_SUBJECT_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_SUBJECT_DESC}
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_MESSAGE_TYPE_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_MESSAGE_TYPE_DESC}
				<br>({EG_MSG} <b>HTML</b> or <b>Plain Text</b>).
			</div>
		</td>
	</tr>
	<tr class="usualWhite">
		<td>
			&nbsp;<b>{EMAIL_MESSAGE_MSG}
			</b>&nbsp;</td>
		<td>
			<div align="justify">
				{EMAIL_MESSAGE_DESC}
			</div>
		</td>
	</tr>
	</table>

	</td></tr></table>
	     &nbsp;
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html>