<html><head><title>..:: {ADMINISTRATION_MSG} :: {GOOGLE_BASE_ITEM_TYPES_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="commonbg">
{admin_header} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="header"> 
	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_lookup_tables_href}">{STATIC_TABLES_MSG}</a>&nbsp;&gt;
			<a href="{admin_google_base_types_href}">{GOOGLE_BASE_ITEM_TYPES_MSG}</a>&nbsp;&gt;&nbsp;<b>{EDIT_MSG}</b>
		</td>
	</tr>
	</table>
</td></tr></table>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<td>
<fieldset>
<legend>{GOOGLE_BASE_ITEM_TYPES_MSG}</legend>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr align="center"> 
	<td>

<form action="{admin_google_base_type_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="type_id" value="{type_id}">
<input type="hidden" name="number_attributes" value="{number_attributes}">
<table border="0" cellpadding="6" cellspacing="1" width="100%"><!-- BEGIN errors -->
<tr class="usual">
	<td colspan="2" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usual">
	<td>
		&nbsp;{NAME_MSG}
	</td>
	<td>
		&nbsp;<input class="field" type="text" name="type_name" size="50" value="{type_name}">
	</td>
</tr>
<tr class="usual">
	<td colspan="2">
		{GOOGLE_BASE_PRODUCT_TYPE_NOTE}	
	</td>
</tr>
<tr class="middle">
	<td>
	</td>
	<td>
		<input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN delete -->
		<input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- END delete -->
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'">
	</td>
</tr>
</table>
</form>	

	</td>
</tr>
</table>
</fieldset>
</td></tr></table>

{admin_footer}
</body>
</html>