<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {OFFER_EMAIL_NOTIFICATION_MSG}</title>
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=400');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="commonbg">

{admin_header}

<form action="{admin_ads_request_href}" name="record" method="POST">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="breadcrumb"> 

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td class="usual">
			&nbsp;<a href="{admin_href}">{ADMINISTRATION_MSG}</a>&nbsp;&gt;
			<a href="{admin_ads_href}">{ADS_TITLE}</a>&nbsp;&gt;
			<b>{OFFER_EMAIL_NOTIFICATION_MSG}</b>
		</td>
		<!-- begin sitelist -->
		<td class="usual" align="right">
			{SELECT_SITE_MSG}&nbsp;
			<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
				<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
			</select>		
		</td>
		<!-- end sitelist -->
	</tr>
	</table>

</td></tr></table>

<br>

<fieldset>
<legend>{OFFER_EMAIL_NOTIFICATION_MSG}</legend>
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<!-- BEGIN errors -->
<tr class="usual">
	<td colspan="5" align="center">
		<div class="error">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="middle">
	<td colspan="5">
		&nbsp;<b>{EMAIL_NOTIFICATION_ADMIN_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{ADMINISTRATOR_NOTIFICATION_MSG}
	</td>
	<td colspan="4">
		<input type="checkbox" name="admin_notification" {admin_notification} value="1">
		{OFFER_EMAIL_NOTIFICATION_NOTE}
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_TO_MSG}</b>
		<div class="small">
		&nbsp;(<a class="small" href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FILEDS_NOTE})
		</div>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_email" value="{admin_email}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>manager@yoursite.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_FROM_MSG}</b>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_mail_from" value="{admin_mail_from}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_CC_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="cc_emails" value="{cc_emails}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_BCC_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_mail_bcc" value="{admin_mail_bcc}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_REPLY_TO_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_mail_reply_to" value="{admin_mail_reply_to}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_RETURN_PATH_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_mail_return_path" value="{admin_mail_return_path}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_SUBJECT_MSG}</b>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_subject" value="{admin_subject}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_MESSAGE_TYPE_MSG}</b>
	</td>
	<td colspan="4"><!-- begin admin_message_type -->
		<input type="radio" name="admin_message_type" {admin_message_type_checked} value="{admin_message_type_value}">{admin_message_type_description}<!-- end admin_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		&nbsp;<b>{MESSAGE_MSG}</b>
		<font class="small">
		<br><br>&nbsp;(<a class="small" href="javascript:openWindow('{admin_ads_notify_help_href}?type=request')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>&nbsp;&nbsp;{LEARN_MORE_AND_SEE_NOTE})
		</font>
	</td>
	<td colspan="4">
		<textarea name="admin_message" cols="80" rows="10">{admin_message}</textarea>
	</td>
</tr>
<tr class="middle">
	<td colspan="5">
		&nbsp;<b>{EMAIL_NOTIFICATION_USER_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_FROM_MSG}</b>
		<div class="small">
		&nbsp;(<a class="small" href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FILEDS_NOTE})
		</div>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_mail_from" value="{user_mail_from}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_CC_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_mail_cc" value="{user_mail_cc}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_BCC_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_mail_bcc" value="{user_mail_bcc}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_REPLY_TO_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_mail_reply_to" value="{user_mail_reply_to}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{EMAIL_RETURN_PATH_MSG}
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_mail_return_path" value="{user_mail_return_path}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_SUBJECT_MSG}</b>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="user_subject" value="{user_subject}" size="80" maxlength="255">
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;<b>{EMAIL_MESSAGE_TYPE_MSG}</b>
	</td>
	<td colspan="4"><!-- begin user_message_type -->
		<input class="field" type="radio" name="user_message_type" {user_message_type_checked} value="{user_message_type_value}">{user_message_type_description}<!-- end user_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		&nbsp;<b>{MESSAGE_MSG}</b>
		<font class="small">
		<br><br>&nbsp;(<a class="small" href="javascript:openWindow('{admin_ads_notify_help_href}?type=request')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>&nbsp;&nbsp;{LEARN_MORE_AND_SEE_NOTE})
		</font>
	</td>
	<td colspan="4">
		<textarea name="user_message" cols="80" rows="10">{user_message}</textarea>
	</td>
</tr>

<tr class="middle">
	<td></td>
	<td colspan="4">
		<input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'">
	</td>
</tr>
</form>
</table>
</fieldset>


{admin_footer}

</body>
</html>
