<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADS_NOTIFY_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{HOW_TO_SETUP_EMAIL_MESSAGE}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
	&nbsp;
	<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr align="center">
		<td class="header">&nbsp;{TAG_NAME_MSG}&nbsp;</td>                               	
		<td class="header">&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr><!-- BEGIN tell_friend_block -->
	<tr>
		<td class="middle" colspan="2" align="center">&nbsp;{TELL_FRIEND_TAGS_MSG}</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_name}</td><td>&nbsp;{USER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_email}</td><td>&nbsp;{USER_EMAIL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{friend_name}</td><td>&nbsp;{FRIEND_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{friend_email}</td><td>&nbsp;{FRIEND_EMAIL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_comment}</td><td>&nbsp;{USER_COMMENT_MSG}&nbsp;</td>
	</tr><!-- END tell_friend_block -->
	<!-- begin request_block -->
	<tr>
		<td class="middle" colspan="2" align="center">&nbsp;{ADMIN_REQUEST_INFORMATION_MSG}</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_id}&nbsp;</td><td>&nbsp;{USER_UNIQUE_IDENTIFICATOR_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_name}&nbsp;</td><td>&nbsp;{USER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{user_email}&nbsp;</td><td>&nbsp;{USER_EMAIL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{offer_price}&nbsp;</td><td>&nbsp;{OFFER_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{offer_message}&nbsp;</td><td>&nbsp;{OFFER_MESSAGE_MSG}&nbsp;</td>
	</tr>
	<!-- end request_block -->
	<tr>
		<td class="middle" colspan="2" align="center">&nbsp;{AD_INFORMATION_MSG}</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_id}</td><td>&nbsp;{AD_UNIQUE_IDENTIFICATOR_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{type}&nbsp;</td><td>&nbsp;{TYPE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_title}&nbsp;</td><td>&nbsp;{TITLE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{item_url}&nbsp;</td><td>&nbsp;{AD_URL_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{category}&nbsp;</td><td>&nbsp;{CATEGORY_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{seller_id}&nbsp;</td><td>&nbsp;{SELLER_IDENTIFICATOR_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{seller_name}&nbsp;</td><td>&nbsp;{SELLER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{date_start}&nbsp;</td><td>&nbsp;{WHEN_AD_STARTING_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{days_to_run}&nbsp;</td><td>&nbsp;{DAYS_TO_RUN_AD_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{date_added}&nbsp;</td><td>&nbsp;{WHEN_AD_HAS_BEEN_ADDED_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{date_updated}&nbsp;</td><td>&nbsp;{WHEN_AD_HAS_BEEN_UPDATED_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{short_description}&nbsp;</td><td>&nbsp;{SHORT_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{full_description}&nbsp;</td><td>&nbsp;{FULL_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{price}&nbsp;</td><td>&nbsp;{ASKING_PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{quantity}&nbsp;</td><td>&nbsp;{QUANTITY_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{availability}&nbsp;</td><td>&nbsp;{AD_AVAILABILITY_MSG} &nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{is_compared}&nbsp;</td><td>&nbsp;{IS_AD_CAN_BE_COMPARED_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{location_city}&nbsp;</td><td>&nbsp;{CITY_LOCATION_OF_THE_ITEM_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{location_postcode}&nbsp;</td><td>&nbsp;Postcode of the item location&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{location_state}&nbsp;</td><td>&nbsp;{STATE_LOCATION_OF_THE_ITEM_MSG}&nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{location_country}&nbsp;</td><td>&nbsp;{COUNTRY_LOCATION_OF_THE_ITEM_MSG} &nbsp;</td>
	</tr>
	<tr class="usualWhite">
		<td>&nbsp;{location_info}&nbsp;</td><td>&nbsp;{INFORMATION_OF_THE_ITEM_MSG}&nbsp;</td>
	</tr>

	</table>

	</td></tr></table>

			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html> 