<html><head><title>..:: {ADMINISTRATION_MSG} :: {ORDERS_MSG} {ADMIN_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="../styles/admin.css" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td class="header"> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td align="center">
			&nbsp;<b>{HOW_TO_SETUP_EMAIL_MESSAGE}</b>&nbsp;
		</td>
	</tr>
	<tr class="usual"> 
		<td>
		<br>
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr><td>
	<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div><br>

	<div class="title" align="center">{ADMIN_HELP_PAYMENTS_TITLE}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{site_url}</td><td>&nbsp;{SITE_URL_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{referrer}</td><td>&nbsp;{HTTP_REFERRER_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{order_id}</td><td>&nbsp;{ORDER_INVOICE_NUMBER_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{order_placed_date}</td><td>&nbsp;{PLACING_ORDER_DATE_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{user_id}</td><td>&nbsp;{USER_UNIQUE_IDENTIFICATOR_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{total_quantity}</td><td>&nbsp;{TOTAL_PRODUCTS_BASKET_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{goods_total}</td><td>&nbsp;{TOTAL_PRODUCTS_AMOUNT_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{total_discount}</td><td>&nbsp;{TOTAL_DISCOUNT_APPLIED_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{shipping_cost}</td><td>&nbsp;{SHIPPING_COST_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{tax_percent}</td><td>&nbsp;{TAX_PERCENT_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{tax_name}</td><td>&nbsp;{TAX_TITLE_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{tax_cost}</td><td>&nbsp;{TAX_COST_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{order_total}</td><td>&nbsp;{TOTAL_ORDER_AMOUNT_MSG}&nbsp;</td>
	</tr><!-- begin basket_tag -->
	<tr class="usual">
		<td>&nbsp;{basket}</td><td>&nbsp;{ALL_BASKET_INFO_MSG}&nbsp;</td>
	</tr><!-- end basket_tag -->
	<!-- BEGIN cart_fields -->
	<tr class="usual">
		<td>&nbsp;{field_{field_id}}</td><td>&nbsp;{field_name}&nbsp;</td>
	</tr>
	<!-- END cart_fields -->
	</table>

	</td></tr></table><br>
	&nbsp;

	<!-- begin merchant_info -->
	<div class="title" align="center">Merchant Information</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_email}</td><td>&nbsp;Merchant Email&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_name}</td><td>&nbsp;Merchant Name&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_first_name}</td><td>&nbsp;Merchant First Name&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_last_name}</td><td>&nbsp;Merchant Last Name&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_cell_phone}</td><td>&nbsp;Merchant Cell Phone&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{merchant_items}</td><td>&nbsp;Merchant Products&nbsp;</td>
	</tr>
	</table>

	</td></tr></table><br>
	&nbsp;<!-- end merchant_info -->

	<!-- begin supplier_info -->
	<div class="title" align="center">{SUPPLIER_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{supplier_email}</td><td>&nbsp;Supplier Email&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{supplier_name}</td><td>&nbsp;{SUPPLIER_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{supplier_items}</td><td>&nbsp;Supplier Products&nbsp;</td>
	</tr>
	</table>

	</td></tr></table><br>
	&nbsp;<!-- end supplier_info -->

	<!-- begin product_info -->
	<div class="title" align="center">{PRODUCT_INFO_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{product_name}</td><td>&nbsp;{PROD_NAME_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{price}</td><td>&nbsp;{PRICE_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{quantity}</td><td>&nbsp;{QUANTITY_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{short_description}</td><td>&nbsp;{SHORT_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{full_description}</td><td>&nbsp;{FULL_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	</table>

	</td></tr></table><br>
	&nbsp;<!-- end product_info -->

	<!-- begin links_info -->
	<div class="title" align="center">{DOWNLOADABLE_INFO_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{links}</td><td>&nbsp;{AVAILABLE_LINKS_LIST_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{serials}</td><td>&nbsp;{AVAILABLE_SERIAL_LIST_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{vouchers}</td><td>&nbsp;{AVAILABLE_VOUCHERS_LIST_MSG}&nbsp;</td>
	</tr>
	</table>

	</td></tr></table><br>
	&nbsp;<!-- end links_info -->


	<div class="title" align="center">{CUSTOMER_INFO_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td colspan="2">{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>

	<tr class="usual">
		<td>&nbsp;{name}</td><td>&nbsp;{delivery_name}</td><td>&nbsp;{USER_NAME_MSG}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{first_name}</td><td>&nbsp;{delivery_first_name}</td><td>&nbsp;{FIRST_NAME_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{last_name}</td><td>&nbsp;{delivery_last_name}</td><td>&nbsp;{LAST_NAME_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{company_name}</td><td>&nbsp;{delivery_company_name}</td><td>&nbsp;{COMPANY_NAME_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{email}</td><td>&nbsp;{delivery_email}</td><td>&nbsp;{EMAIL_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{address1}</td><td>&nbsp;{delivery_address1}</td><td>&nbsp;{STREET_FIRST_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{address2}</td><td>&nbsp;{delivery_address2}</td><td>&nbsp;{STREET_SECOND_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{city}</td><td>&nbsp;{delivery_city}</td><td>&nbsp;{CITY_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{province}</td><td>&nbsp;{delivery_province}</td><td>&nbsp;{PROVINCE_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{state}</td><td>&nbsp;{delivery_state}</td><td>&nbsp;{STATE_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{zip}</td><td>&nbsp;{delivery_zip}</td><td>&nbsp;{ZIP_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{country}</td><td>&nbsp;{delivery_country}</td><td>&nbsp;{COUNTRY_FIELD}</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{phone}</td><td>&nbsp;{delivery_phone}</td><td>&nbsp;{PHONE_FIELD}
</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{daytime_phone}</td><td>&nbsp;{delivery_daytime_phone}</td><td>&nbsp;{DAYTIME_PHONE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{evening_phone}</td><td>&nbsp;{delivery_evening_phone}&nbsp;</td><td>&nbsp;{EVENING_PHONE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cell_phone}</td><td>&nbsp;{delivery_cell_phone}</td><td>&nbsp;{CELL_PHONE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{fax}</td><td>&nbsp;{delivery_fax}</td><td>&nbsp;{FAX_FIELD}&nbsp;</td>
	</tr>
	<!-- BEGIN details_fields -->
	<tr class="usual">
		<td>&nbsp;{field_{field_id}}</td><td colspan="2">&nbsp;{field_name}&nbsp;</td>
	</tr>
	<!-- END details_fields -->
	</table>

	</td></tr></table>&nbsp;

	<!-- begin credit_card_info -->
	<div class="title" align="center">{CC_INFO_MSG}</div>
	<table border="0" cellspacing="1" cellpadding="0" align="center" width=450>
	<tr><td class="header"> 

	<table border="0" cellspacing="1" cellpadding="6" width="100%">
	<tr class="middle" align="center">
		<td>{TAG_NAME_MSG}</td>                               	
		<td>&nbsp;{TAG_DESCRIPTION_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_name}</td><td>&nbsp;{CC_NAME_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_first_name}</td><td>&nbsp;{FIRST_NAME_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_last_name}</td><td>&nbsp;{LAST_NAME_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_number}</td><td>&nbsp;{CC_NUMBER_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_number_last}</td><td>&nbsp;{CC_FOUR_LAST_MSG}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_issue_number}</td><td>&nbsp;{CC_ISSUE_NUMBER_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_security_code}</td><td>&nbsp;{CC_SECURITY_CODE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_type}</td><td>&nbsp;{CC_TYPE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_start_date}</td><td>&nbsp;{CC_START_DATE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{cc_expiry_date}</td><td>&nbsp;{CC_EXPIRY_DATE_FIELD}&nbsp;</td>
	</tr>
	<tr class="usual">
		<td>&nbsp;{pay_without_cc}</td><td>&nbsp;{PAYMENT_INFO_MSG}<br>&nbsp;({PAYMENT_INFO_DESC})&nbsp;</td>
	</tr>
	<!-- BEGIN payment_fields -->
	<tr class="usual">
		<td>&nbsp;{field_{field_id}}</td><td>&nbsp;{field_name}&nbsp;</td>
	</tr>
	<!-- END payment_fields -->
	</table>

	</td></tr></table>
	&nbsp;<!-- end credit_card_info -->


			</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="header" align=center>
			&nbsp;<a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
		</td>
	</tr>
	</table>

</td></tr></table>

</body>
</html>