<div class="tree_nav"><!-- begin first_on --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{FIRST_PAGE_MSG}</a> <!-- end first_on --><!-- begin first_off -->{FIRST_PAGE_MSG}<!-- end first_off -->
<!-- begin prev_on --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{PREV_PAGE_MSG}</a> <!-- end prev_on --><!-- begin prev_off -->{PREV_PAGE_MSG}<!-- end prev_off -->
<!-- begin page_before --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{page_number}</a> <!-- end page_before -->
[ <b>{current_page}</b> {OF_PAGE_MSG} <b>{total_pages}</b> ]
<!-- begin page_after --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{page_number}</a> <!-- end page_after -->
<!-- begin next_on --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{NEXT_PAGE_MSG}</a> <!-- end next_on --><!-- begin next_off -->{NEXT_PAGE_MSG}<!-- end next_off -->
<!-- begin last_on --><a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{LAST_PAGE_MSG}</a> <!-- end last_on --><!-- begin last_off -->{LAST_PAGE_MSG}<!-- end last_off -->
</div>
