<div class="block-password-reset">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{CHANGE_PASSWORD_MSG}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr class="headerbg"> 
		<td class="blockTD">

<form action="{reset_password_href}" name="profile" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rc" value="{rc}">
<input type="hidden" name="em" value="{em}">
<table width="100%" border="0" cellspacing="1" class="padding6px"><!-- BEGIN errors -->
<tr>
	<td colspan="2" class="usualbg">
		<div align="center" class="errorbg">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<!-- BEGIN password_updated -->
<tr>
	<td colspan="2" class="usualbg">
		<div align="center" class="messagebg">
			{RESET_PASSWORD_SAVED_MSG}<br>
			{ACCESS_HOME_MSG} <a href="{user_login_href}">{CLICK_HERE_MSG}</a>
		</div>
	</td>
</tr><!-- END password_updated -->
<!-- BEGIN password_block -->
<tr class="usualbg" width="30%">
	<td>
		{CHOOSE_A_MSG} <b>{NEW_PASS_FIELD}</b> *
	</td>
	<td width="70%">
		<input class="text" type="password" name="password" value="{password}" maxlength="32">
	</td>
</tr>
<!-- END password_block -->
<!-- BEGIN confirm_block -->
<tr class="usualbg">
	<td>
		<b>{CONFIRM_PASS_FIELD}</b> *
	</td>
	<td>
		<input class="text" type="password" name="confirm" value="{confirm}" maxlength="32">
	</td>
 </tr>
<!-- END confirm_block -->
<!-- BEGIN buttons -->
<tr class="middlebg" >
	<td>
	</td>
	<td>
		<span class="submit"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.profile.operation.value='save'"></span>
	</td>
</tr>
<!-- END buttons -->
</table>
</form>

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>