<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{FORGOT_PASSWORD_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<meta name="description" content="{FORGOT_PASSWORD_DESC}">
<link rel="stylesheet" href="{css_file}" type="text/css">
</head>
<body class="commonbg">
{header}

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="mainTable50">
<tr><td class="mainTableCell">

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{FORGOT_PASSWORD_MSG}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr class="header"> 
		<td class="blockTD">

<form action="{forgot_password_href}" name="profile" method="POST">
<table width="100%" border="0" cellspacing="1" cellpadding="20" align="center">
<tr class="usual">
	<td>
		<!-- BEGIN forgot_error -->
		<div class="error"><b>{error_desc}</b></div><br><!-- END forgot_error -->
		<!-- BEGIN forgot_message -->
		<div class="message"><b>{message_desc}</b></div><br><!-- END forgot_message -->

		{FORGOT_PASSWORD_DESC}<br>
		<table cellspacing="3"><tr>
		<td><input class="field" type="email" size="40" name="email" value="{email}">
		<span class="submit"><input class="submit" type="submit" value="{SUBMIT_BUTTON}"></span></td>
		</tr></table>
	</td>
</tr>
</table>

</form>

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>

</td></tr>
</table>

{footer}

</body></html>