<div class="block-banners">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="usualbg padding10px">
					<!-- begin banners -->
						<!-- begin title_block --><a href="{bc_url}" target="{target}">{banner_title}</a><br><!-- end title_block -->
						<!-- begin banner_image --><a href="{bc_url}" target="{target}"><img src="{src}" {image_size} border="0" alt="{alt}"></a><br><!-- end banner_image -->
						{html_text}<br>
					<!-- end banners -->
				</td>
			</tr>
			</table>

		</td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>