<div class="block-sms-test">
<form action="{current_href}" method="GET">
{hidden_parameters}
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing="0" cellpadding="0" border="0"><tr><td><div>{SMS_TEST_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="padding10px">
				<!-- begin sms_error -->
				<div class="errorbg"><b>{error_desc}</b></div><br>
				<!-- end sms_error -->
				<div>{SMS_TEST_DESC}</div><br>
				<div>
					<input class="field" type="text" size="15" name="phone_number" value="{phone_number}"> 
					<span class="submit"><input class="submit" type="submit" value="{SEND_BUTTON}"></span>
				</div>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</form>
</div>