<div class="block-ads-sellers">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{ADS_SELLERS_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr><td class="padding10px">

		<table width=100% cellspacing=0 cellpadding=2 border=0>
		<!-- BEGIN users -->
		<tr>
			<td class="usualbg"><a class="title" href="{user_href}">{user_name}</a> ({user_ads})</td>
		</tr>
		<!-- END users --> 
		</table>

		</td></tr></table>

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>