<div class="block-order-cart">
	<div class="titleTopCenter">
		
		
		<h1>{CART_TITLE}</h1>
	</div>
	<!-- begin basket -->
	<div class="basket">
		<table cellspacing="1" width="100%" border="0" class="padding6px">
			<tr class="middlebg">
				<!-- begin item_image_header -->
				<td>&nbsp;</td>
				<!-- end item_image_header -->
				<!-- begin item_name_header -->
				<td class="columnTitles">{PROD_TITLE_COLUMN}</td>
				<!-- end item_name_header -->
				<!-- begin item_price_header -->
				<td class="columnTitles textRight">{PROD_PRICE_COLUMN} {tax_note_excl}</td>
				<!-- end item_price_header -->
				<!-- begin item_tax_percent_header -->
				<td class="columnTitles textRight">{tax_name} (%)</td>
				<!-- end item_tax_percent_header -->
				<!-- begin item_tax_header -->
				<td class="columnTitles textRight">{tax_name}</td>
				<!-- end item_tax_header -->
				<!-- begin item_price_incl_tax_header -->
				<td class="columnTitles textRight">{PROD_PRICE_COLUMN} {tax_note}</td>
				<!-- end item_price_incl_tax_header -->
				<!-- begin item_quantity_header -->
				<td class="columnTitles textRight">{PROD_QTY_COLUMN}</td>
				<!-- end item_quantity_header -->
				<!-- begin item_price_total_header -->
				<td class="columnTitles textRight">{PROD_TOTAL_COLUMN} {tax_note_excl}</td>
				<!-- end item_price_total_header -->
				<!-- begin item_tax_total_header -->
				<td class="columnTitles textRight">{tax_name} {PROD_TAX_TOTAL_COLUMN}</td>
				<!-- end item_tax_total_header -->
				<!-- BEGIN item_price_incl_tax_total_header -->
				<td class="columnTitles textRight">{PROD_TOTAL_COLUMN} {tax_note}</td>
				<!-- END item_price_incl_tax_total_header -->
			</tr>
			<!-- begin items -->
			<tr class="usualbg" valign="top">
				<!-- begin item_image_column -->
				<td class="usualbg" align="center" valign="top"><!-- begin image_preview -->
					<img src="{src}" {height} {width} border="0" alt="{alt}" align="left">
					<!-- end image_preview --></td>
				<!-- end item_image_column -->
				<!-- begin item_name_column -->
				<td> {item_name}
					<!-- begin item_code_block -->
					<br>
					{PROD_CODE_MSG}: <b>{item_code}</b>
					<!-- end item_code_block -->
					<!-- begin manufacturer_code_block -->
					<br>
					{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b>
					<!-- end manufacturer_code_block -->
					<font class="smallText">{item_properties}</font>
					<!-- begin components_block -->
					<div><b>{PROD_SUBCOMPONENTS_MSG}:</b></div>
					<!-- begin components -->
					<div>{selection_name} {component_quantity} x {component_name} {component_price} {component_icon}</div>
					<!-- end components -->
					<!-- end components_block -->
					<!-- begin points_price_block -->
					<div class="points_price">{POINTS_PRICE_MSG}:&nbsp;<b>{points_price}</b></div>
					<!-- end points_price_block -->
					<!-- begin reward_points_block -->
					<div class="reward_points">{REWARD_POINTS_MSG}:&nbsp;<b>{reward_points}</b></div>
					<!-- end reward_points_block -->
					<!-- begin reward_credits_block -->
					<div class="reward_credits">{REWARD_CREDITS_MSG}:&nbsp;<b>{reward_credits}</b></div>
					<!-- end reward_credits_block --></td>
				<!-- end item_name_column -->
				<!-- begin item_price_excl_tax_column -->
				<td align="right">{price_excl_tax}</td>
				<!-- end item_price_excl_tax_column -->
				<!-- begin item_tax_percent_column -->
				<td align="right">{item_tax_percent}</td>
				<!-- end item_tax_percent_column -->
				<!-- begin item_tax_column -->
				<td align="right">{item_tax}</td>
				<!-- end item_tax_column -->
				<!-- begin item_price_incl_tax_column -->
				<td align="right">{price_incl_tax}</td>
				<!-- end item_price_incl_tax_column -->
				<!-- begin item_quantity_column -->
				<td align="right">{quantity}</td>
				<!-- end item_quantity_column -->
				<!-- begin item_price_excl_tax_total_column -->
				<td align="right">{price_excl_tax_total}</td>
				<!-- end item_price_excl_tax_total_column -->
				<!-- begin item_tax_total_column -->
				<td align="right">{item_tax_total}</td>
				<!-- end item_tax_total_column -->
				<!-- begin item_price_incl_tax_total_column -->
				<td align="right">{price_incl_tax_total}</td>
				<!-- end item_price_incl_tax_total_column -->
			</tr>
			<!-- end items -->
			<tr class="middlebg">
				<!-- begin goods_name_column -->
				<td colspan="{goods_colspan}"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td><!-- begin reward_points_total_block -->
								{REWARD_POINTS_MSG}: {reward_points_total}
								<!-- end reward_points_total_block -->
								<!-- begin reward_credits_total_block -->
								{REWARD_CREDITS_MSG}: {reward_credits_total}
								<!-- end reward_credits_total_block --></td>
							<td align="right"><b>{GOODS_TOTAL_MSG}</b></td>
						</tr>
					</table></td>
				<!-- end goods_name_column -->
				<!-- begin goods_total_excl_tax_column -->
				<td align="right"><b>{goods_total_excl_tax}</b></td>
				<!-- end goods_total_excl_tax_column -->
				<!-- BEGIN goods_tax_total_column -->
				<td align="right">{goods_tax_total}</td>
				<!-- END goods_tax_total_column -->
				<!-- BEGIN goods_total_incl_tax_column -->
				<td align="right">{goods_total_incl_tax}</td>
				<!-- END goods_total_incl_tax_column -->
			</tr>
			<!-- begin discount -->
			<tr class="middlebg">
				<!-- BEGIN total_discount_name_column -->
				<td colspan="{goods_colspan}" align="right"><b>{TOTAL_DISCOUNT_MSG}</b></td>
				<!-- END total_discount_name_column -->
				<!-- BEGIN total_discount_amount_excl_tax_column -->
				<td align="right"><b>{total_discount_excl_tax}</b></td>
				<!-- END total_discount_amount_excl_tax_column -->
				<!-- BEGIN total_discount_tax_column -->
				<td align="right"><b>{total_discount_tax_amount}</b></td>
				<!-- END total_discount_tax_column -->
				<!-- BEGIN total_discount_amount_incl_tax_column -->
				<td align="right"><b>{total_discount_incl_tax}</b></td>
				<!-- END total_discount_amount_incl_tax_column -->
			</tr>
			<tr class="middlebg">
				<!-- BEGIN discounted_name_column -->
				<td colspan="{goods_colspan}" align="right"><b>{GOODS_WITH_DISCOUNT_MSG}</b></td>
				<!-- end discounted_name_column -->
				<!-- BEGIN discounted_amount_excl_tax_column -->
				<td align="right"><b>{discounted_amount_excl_tax}</b></td>
				<!-- END discounted_amount_excl_tax_column -->
				<!-- BEGIN discounted_tax_column -->
				<td align="right"><b>{discounted_tax_amount}</b></td>
				<!-- END discounted_tax_column -->
				<!-- BEGIN discounted_amount_incl_tax_column -->
				<td align="right"><b>{discounted_amount_incl_tax}</b></td>
				<!-- END discounted_amount_incl_tax_column -->
			</tr>
			<!-- end discount -->
			<!-- begin cart_properties -->
			<tr class="usualbg">
				<td colspan="{goods_colspan}" align="right"><table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr valign="top">
							<td><!-- begin property_points_price_block -->
								<div class="points_price">{POINTS_PRICE_MSG}: <b>{property_points_price}</b></div>
								<!-- end property_points_price_block --></td>
							<td align="right">{property_name} ({property_value})</td>
						</tr>
					</table></td>
				<!-- BEGIN property_price_excl_tax_column -->
				<td align="right">{property_price_excl_tax}</td>
				<!-- END property_price_excl_tax_column -->
				<!-- BEGIN property_tax_column -->
				<td align="right">{property_tax}</td>
				<!-- END property_tax_column -->
				<!-- BEGIN property_price_incl_tax_column -->
				<td align="right">{property_price_incl_tax}</td>
				<!-- END property_price_incl_tax_column -->
			</tr>
			<!-- end cart_properties -->
			<!-- begin shipping_type -->
			<tr class="usualbg">
				<td colspan="{goods_colspan}" align="right">
					{shipping_type_desc}
				</td>
				<!-- BEGIN shipping_cost_excl_tax_column -->
				<td align="right">{shipping_cost_excl_tax}</td>
				<!-- END shipping_cost_excl_tax_column -->
				<!-- BEGIN shipping_tax_column -->
				<td align="right">{shipping_tax}</td>
				<!-- END shipping_tax_column -->
				<!-- BEGIN shipping_cost_incl_tax_column -->
				<td align="right">{shipping_cost_incl_tax}</td>
				<!-- END shipping_cost_incl_tax_column -->
			</tr>
			<!-- end shipping_type -->
			<!-- begin taxes -->
			<tr class="usualbg">
				<td colspan="{sc_colspan}" align="right">{tax_name}</td>
				<td align="right"><span class="usualprice" id="tax_{tax_id}">{tax_cost}</span></td>
			</tr>
			<!-- end taxes -->
			<!-- begin fee -->
			<tr class="usualbg">
				<td colspan="{sc_colspan}" align="right">{PROCESSING_FEE_MSG}</td>
				<td align="right">{processing_fee_cost}</td>
			</tr>
			<!-- end fee -->
			<!-- begin vouchers_block -->
			<tr class="middlebg">
				<td colspan="{total_columns}">{USED_VOUCHERS_MSG}</td>
			</tr>
			<!-- begin used_vouchers -->
			<tr class="usualbg">
				<td colspan="{sc_colspan}">{voucher_title}</td>
				<td align="right">{voucher_amount}</td>
			</tr>
			<!-- end used_vouchers -->
			<!-- end vouchers_block -->
			<!-- begin credit_amount_block -->
			<tr class="usualbg">
				<td colspan="{sc_colspan}" align="right">{CREDIT_AMOUNT_MSG}</td>
				<td align="right">{credit_amount_cost}</td>
			</tr>
			<!-- end credit_amount_block -->
			<tr class="middlebg">
				<td colspan="{sc_colspan}" align="right"><b>{CART_TOTAL_MSG}</b></td>
				<td align="right"><b>{order_total}</b></td>
			</tr>
			<!-- begin total_points_block -->
			<tr class="middlebg">
				<td colspan="{sc_colspan}" align="right"><b>{TOTAL_POINTS_MSG}</b></td>
				<td align="right"><b>{total_points_amount}</b></td>
			</tr>
			<!-- end total_points_block -->
		</table>
		<!-- end basket -->
	</div>
</div>
