<div class="block-manuals-list">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{MANUALS_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">
			<table border="0" cellspacing="0" width="100%" class="padding6px">
				<!-- begin no_manuals -->
				<tr>
					<td align="left" class="messagebg">{NO_MANUALS_MSG}</td>
				</tr>
				<!-- end no_manuals -->
				<!-- begin categories -->
				<tr class="middlebg" align="center">
					<td align="left"><a href="{category_href}" class="bigtitle">{cat_name}</a></td>
				</tr>
				<!-- begin manuals -->
				<tr>
					<td valign=top>
						<div class="title"><a href="{manual_href}" class="{restricted_class}">{manual_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}"><!--end restricted_image--></a></div>
						<div class="comment">{short_description}</div>
					</td>
				</tr>
				<!-- end manuals -->
				<!-- end categories -->
			</table>
		</td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>