<div class="block-products-changes-log">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{CHANGES_LOG_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

		<table cellspacing="5" width="100%" border="0" class="padding6px">
		<tr>
			<td>
				<div class="bigtitle">{PROD_CHANGES_LOG_MSG}</div>
				<hr size="1">
				<!-- begin releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="title">&nbsp;{release_title} ({PROD_VER_MSG} {version})</td>
					<td align="right"><span class="articleDate">{release_date}</span>&nbsp;</td>
				</tr>
				</table>
				<ul><!-- BEGIN changes -->
					<li>{change_desc}</li><!-- END changes -->
				</ul>
				<!-- end releases -->
				<!-- BEGIN no_releases -->
				<div class="title">{NO_RELEASE_CHANGES_MSG}</div><!-- END no_releases -->
			</td>
		</tr>
		</table>	

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
