<div class="block-products-releases">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{RELEASES_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

		<table border="0" width="100%" cellpadding="5" align="center" class="padding6px">
		<tr>
			<td>
				<div class="bigtitle">{PROD_RELEASES_MSG}</div>
				<hr size="1">
				<!-- begin releases -->
				<br>
				<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr valign="top">
					<td><div class="title">{release_title} ({PROD_VER_MSG} {version})<br></div></td>
					<td align="right">
						<div class="articleDate"><span class="nobr">&nbsp;{release_date}</span></div>
						<div><a class="smallText" href="{changes_log_href}?release_id={release_id}">{CHANGES_LOG_MSG}</a>&nbsp;</div>
					</td>
				</tr>
				</table>
				<div align="justify">{release_desc}</div><br>
				<!-- begin download -->
				<div class="smallText">{PROD_DOWNLOAD_MSG}: <a class="smallText" href="{download_url}">{filename}</a></div>
				<!-- end download -->
				<!-- end releases -->
				<!-- BEGIN no_releases -->
				<div class="title">{NO_PROD_RELEASES_MSG}</div><!-- END no_releases -->
				<br>
			</td>
		</tr>
		</table>	

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>