<div class="block-forum-topics">
<div class="titleTopCenter">{forum_name}</div>

<table border="0" cellspacing="1" width="100%" class="padding6px">
<!-- BEGIN search_results -->
<tr class="usualbg"><td colspan="5">&nbsp;{found_message}&nbsp;</td></tr><!-- END search_results -->
<!-- begin sorters -->
<tr class="middlebg" align="center">
	<td align="left">
		{sorter_topic}
	</td>
	<td>
		{sorter_user_name}
	</td>
	<td>
		{sorter_views}
	</td>
	<td>
		{sorter_replies}
	</td>
	<td>
		{sorter_thread_updated}
	</td>
</tr>
<!-- end sorters --><!-- BEGIN records -->
<tr class="usualbg" align="center">
	<td align="left" width="34%">
		<!--begin block_topic-->
		<img src="./images/icons/closed.gif" alt="Restricted Topic" height="16" width="16" border="0" align="absmiddle">
		<!--end block_topic-->
		{html_before_title}<a href="{forum_thread_href}">{topic}</a>{html_after_title}&nbsp;
		<!-- begin topic_pages_block -->
		<div class="smallText">[ <img src="images/icons/mini_page.gif" width="12" height="9"><a class="smallText" href="{forum_thread_href}">&nbsp;1</a><!-- begin topic_pages -->,<a class="smallText" href="{forum_thread_page_url}">{page_number}</a><!-- end topic_pages --> ]</div>
		<!-- end topic_pages_block -->
	</td>
	<td width="20%">
		&nbsp;<span class="{topic_author_class}">{user_name}</span>&nbsp;
	</td>
	<td width="12%">
		{views}
	</td>
	<td width="12%">
		{replies}
	</td>
	<td align="left" width="22%">
		{thread_updated}
		<!-- begin last_post_by_block -->
		<br><b>{LAST_POST_BY_SHORT_MSG}</b> <span class="{forum_user_class}">{last_post_by}</span><!-- end last_post_by_block -->
	</td>
</tr>
<!-- END records --><!-- BEGIN no_records -->
<tr class="usualbg">
	<td colspan="5" class="title">
		&nbsp;{NO_TOPICS_MSG}
	</td>
</tr><!-- END no_records -->
<tr class="middlebg">
	<td colspan="5">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr class="middlebg">
			<td>&nbsp;<!-- begin new_topic_block --><a href="{forum_topic_new_url}">{NEW_TOPIC_MSG}</a><!-- end new_topic_block -->&nbsp;</td><!-- begin navigator_block -->
			<td align="right">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
		</tr>
		</table>
	</td>
</tr>
</table>	

</div>