<div class="block-language">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{LANGUAGE_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr class="usualbg"> 
				<td valign="top" class="padding10px">
				<form action="{current_href}" name="frmLanguages" method="GET">
					{hidden_parameters}
					<!-- begin select_languages -->
					<table border="0" cellpadding="2" cellspacing="0">
					<tr>
						<td>
							<select class="field" name="language_code">
								<!-- begin languages --><option {language_selected} value="{language_code}">{language_name}<!-- end languages -->
							</select>
							<span class="submit"><input class="submit" type="submit" value="{APPLY_BUTTON}"></span>
						</td>
					</tr>
					</table>
					<!-- end select_languages -->
					<!-- begin languages_images --><a href="{language_url}"><img border="0" src="{src}" {width} {height} alt="{language_name}" title="{language_name}"></a> <!-- end languages_images -->
				</form>
				</td>
			</tr>
		</table>
		
		</td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>