<div class="block-ads-breadcrumb">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="breadcrumb">
	<tr> 
		<td class="breadcrumbBegin"><img src="images/tr.gif" alt=""></td>
		<td class="breadcrumbDelimiter">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr> 
					<td valign="top">
						<div>
						<a href="{index_href}">{HOME_PAGE_TITLE}</a><!-- BEGIN tree --><span>&nbsp;&gt;&nbsp;</span><img src="images/tr.gif" alt=""><a href="{tree_url}" class="{tree_class}">{tree_title}</a><!-- END tree -->
						</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- BEGIN rss -->
		<td class="breadcrumbRSS">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr> 
					<td valign="top" class="usualbg" align="right">
						<a href="{rss_url}"><img src="images/ico-rss.gif" alt="RSS" width="26" height="12" border="0" align="absmiddle"></a>
					</td>
				</tr>
			</table>
		</td>
		<!-- END rss -->
		<td class="breadcrumbEnd"><img src="images/tr.gif" alt=""></td>
	</tr>
</table>
</div>