<div class="block-forum-top-viewed">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{FORUM_TITLE}&nbsp;&nbsp;{TOP_VIEWED_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr class="usualbg"><td valign="top" class="padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN top_viewed_rows -->
			<tr>
				<!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" width="{top_viewed_column}">
					<div class="top">
						<b>{top_position}.</b>
						<!--begin block_topic-->
						<img src="./images/icons/closed.gif" alt="Restricted Topic" height="16" width="16" border="0" align="absmiddle">
						<!--end block_topic-->
						<a class="top10" href="{forum_topic_url}">{topic_title}</a> 
						(<b>{total_views}</b>)						
					</div>
				</td><!-- END top_viewed_cols -->
			</tr><!-- END top_viewed_rows -->
			</table>

			</td></tr>
			</table>

		</td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>