<div class="block-password-forgot">
<div class="titleTopCenter">
<h1>{FORGOT_PASSWORD_MSG}</h1>
</div>


<form action="{forgot_password_href}" name="profile" method="POST">
<table width="100%" border="0" cellspacing="1" cellpadding="20" align="center">
<tr class="usualbg">
	<td>
		<!-- BEGIN forgot_error -->
		<div class="errorbg"><b>{error_desc}</b></div><br><!-- END forgot_error -->
		<!-- BEGIN forgot_message -->
		<div class="messagebg"><b>{message_desc}</b></div><br><!-- END forgot_message -->

		{FORGOT_PASSWORD_DESC}<br>
		<table cellspacing="3"><tr>
		<td><input class="field" type="email" size="40" name="email" value="{email}">
		<span class="submit"><input class="submit" type="submit" value="{SUBMIT_BUTTON}"></span></td>
		</tr></table>
	</td>
</tr>
</table>

</form>

</div>