<div class="block-wishlist-items">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>Wist List Products</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="padding10px">

					<!-- begin no_wishlist --><div class="messagebg">The wish list you have requested does not exist.</div><!-- end no_wishlist -->

					<!-- begin wl_items -->
					<table border="0" cellspacing="1" cellpadding="0" class="padding6px">
					<tr class="middlebg">
						<td>
							&nbsp;
						</td>
						<td>
							{PRODUCT_MSG}
						</td>
						<td>
							Price
						</td>
						<td>
							{TYPE_MSG}
						</td>
						<td>
							Wants
						</td>
						<td>
							Has
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<!-- BEGIN wl_rows -->
					<tr valign="top">
						<td align="left">
							<!-- begin wl_image --><a href="{details_url}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left"></a><!-- end wl_image -->
						</td>
						<td>
							<a href="{details_url}"><b>{item_name}</b></a>
						</td>
						<td align="right">
							<span class="ourprice"><b>{wl_price}</b></span>&nbsp;
						</td>
						<td align="center">
							{wl_type}&nbsp;
						</td>
						<td align="center">
							{quantity_wants}
						</td>
						<td align="center">
							{quantity_bought}
						</td>
						<td>
							<a class="button button-add" href="{cart_url}"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}"></a> 
						</td>
					</tr><!-- END wl_rows -->
					<!-- BEGIN navigator_block -->
					<tr>
						<td colspan="7" align="left">
							<br>&nbsp; {navigator}
						</td>
					</tr><!-- END navigator_block -->
					</table>
					<!-- end wl_items -->

				</td>
			</tr>
			</table>

		</td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>
