<div class="block-user-payment">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{COMMISSIONS_MSG}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr class="headerbg"> 
		<td class="blockTD">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_item_name}</td>
			<td>{sorter_amount}</td>
			<td>{sorter_type}</td>
			<td>{sorter_date}</td>
		</tr><!-- end sorters --><!-- BEGIN records -->
		<tr class="usualbg" valign="top" align="center">
			<td align="left">&nbsp;{item_name}</td>
			<td align="right">&nbsp;{commission_amount}&nbsp;</td>
			<td>&nbsp;{commission_type}&nbsp;</td>
			<td>&nbsp;{date_added}&nbsp;</td>
		</tr><!-- END records -->
		<!-- BEGIN no_records -->
		<tr class="usualbg">
			<td colspan="4">&nbsp;{NO_COMMISSIONS_MSG}</td>
		</tr><!-- END no_records -->
		<tr class="middlebg" valign="top" align="center">
			<td align="left">&nbsp;{TOTAL_MSG}</td>
			<td align="right">&nbsp;{commissions_total}&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		</table>	

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>
</div>