<div class="block-user-change-password">
<div class="titleTopCenter">{CHANGE_PASSWORD_MSG}</div>

<form action="{user_change_password_href}" name="profile" method="POST">
<input type="hidden" name="action" value="save">
<input type="hidden" name="return_page" value="{return_page}">
<table cellspacing="1" width="100%" border="0" class="padding6px"><!-- BEGIN errors -->
<tr>
	<td colspan="2" class="usualbg">
		<div align="center" class="errorbg">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr class="usualbg" width="30%">
	<td>
		{ENTER_YOUR_MSG} <b>{CURRENT_PASS_FIELD}</b> *
	</td>
	<td width="70%">
		<input class="text" type="password" name="current_password" value="{current_password}">
	</td>
</tr>
<tr class="usualbg">
	<td>
		{CHOOSE_A_MSG} <b>{NEW_PASS_FIELD}</b> *
	</td>
	<td>
		<input class="text" type="password" name="password" value="{password}">
	</td>
</tr>
<tr class="usualbg">
	<td>
		<b>{CONFIRM_PASS_FIELD}</b> *
	</td>
	<td>
		<input class="text" type="password" name="confirm" value="{confirm}">
	</td>
</tr>

<tr class="middlebg" >
	<td>
	</td>
	<td>
		<span class="submit"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.profile.action.value='save'"></span>
		<span class="submit"><input class="submit" id="cancel" type="submit" value="{CANCEL_BUTTON}" onCLick="document.profile.action.value='cancel'"></span>
	</td>
</tr>
</table>
</form>

</div>