<div class="block-products-table-view">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><h1>{current_category_name}</h1></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr> 
		<td class="blockTD">

<!-- begin search_and_navigation --><table width="100%" border="0" cellspacing="0" class="padding6px">
<tr class="usualbg">
	<!-- begin search_results -->
	<td>{FOUND_PRODUCTS_MSG}</td>
	<!-- end search_results -->
	<!-- begin navigator_block -->
	<td align="right" nowrap>{navigator}</td>
	<!-- end navigator_block -->
</tr>
</table><!-- end search_and_navigation -->
<!-- begin products_sortings --><table width="100%" border="0" cellspacing="0" class="padding6px">
<tr class="middlebg">
	<td>{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</td>
</tr>
</table><!-- end products_sortings -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="usualbg"> 
	<td valign="top">

			<!-- begin no_items -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center" class="padding10px"><div class="errorbg">{NO_PRODUCTS_MSG}</div></td></tr>
			</table>
			<!-- end no_items -->

			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="productsTable">
			<!-- begin category_items -->
			<!-- begin items_category_name -->
			<tr>
				<td colspan="8" class="productsCategory">{category_name}</td>
			</tr>
			<!-- end items_category_name -->
			<tr align="center">
				<th>&nbsp;</th>
				<th>{PROD_MANUFACTURER_MSG}</th>
				<th>{PROD_NAME_MSG}</th>
				<th>{PROD_OPTIONS_MSG}</th>
				<th>{PRICE_MSG}</th>
				<th nowrap>{OUR_PRICE_MSG}</th>
				<th>{PROD_QTY_COLUMN}</th>
				<th>{YOU_SAVE_MSG}</th>
			</tr>
			<tr>
				<td colspan="8" class="productsDelimiterTop"><img src="images/tr.gif" alt=""></td>
			</tr>
			<!-- BEGIN items_rows -->
			<form name="form_{form_id}" method="post" action="{products_form_url}#p{form_id}">
			{hidden_parameters}
			<input type="hidden" name="type" value="table">
			<input type="hidden" name="rp" value="{rp}">
			<input type="hidden" name="rnd" value="{rnd}">
			<input type="hidden" name="cart" value="ADD">
			<input type="hidden" name="add_id" value="{item_id}">
			<input type="hidden" name="saved_type_id" value="">
			<input type="hidden" name="tax_percent" value="{tax_percent}">
			<input type="hidden" name="product_params" value="{product_params}">
			
			<!-- BEGIN items_cols -->
			<!-- BEGIN item_added -->
			<tr valign="top">
				<td align="center" colspan="8">
					<div class="messagebg">{added_message}</div>
				</td>
			</tr><!-- END item_added --><!-- BEGIN sc_errors -->
			<tr valign="top">
				<td align="center" colspan="8">
					<div class="errorbg">{errors_list}</div>
				</td>
			</tr><!-- END sc_errors -->
			<tr valign="top">
				<td align="center">
					<a name="p{form_id}"></a>
					<!-- begin small_image -->
					<a href="{product_details_url}"><img class="productImg" name="image_{form_id}" src="{src}" {width} {height} border="0" alt="{alt}"></a><!-- end small_image -->
					<!-- begin compare -->
					<div align=center>
						<input type="checkbox" name="compare" value="{item_id}">
						<a href="#" onClick="return compareItems();"><b>{COMPARE_MSG}</b></a>
					</div>
					<!-- end compare -->
				</td>
				<td>
					{manufacturer_name}
					<!-- begin manufacturer_code_block -->
					<br><b>{manufacturer_code}</b><!-- end manufacturer_code_block -->	
				</td>
				<td>
					<h2 class="listing {product_new_class}"><a class="title" href="{product_details_url}">{item_name}</a><!--begin product_new_image--><img src="images/tr.gif" alt=""><!--end product_new_image--></h2>
					<!-- begin found_in_category -->
					<div class="smallText">{FOUND_IN_MSG}: <!-- BEGIN found_categories --><a class="smallText" href="{products_href}?category_id={ic_id}">{item_category}</a>{ic_separator}<!-- END found_categories --></div>
					<!-- end found_in_category -->
					<!-- begin description -->
					<div align="justify">{short_description}</div>
					<!-- end description -->
				</td>
				<td align="left" valign="top">
					<!-- begin properties -->
					<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->
				</td>
				<td align="right" valign="top">
					<!-- begin price_block -->
					<div id="price_block_{item_id}" class="{price_block_class}"><span id="price_{item_id}" class="price">{price_control}</span> <span class="priceTax" style="display: none;">{tax_price}</span></div><!-- end price_block -->
				</td>
				<td align="right">
					<!-- begin sales -->
					<div class="salesBlock"><span id="sales_price_{item_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax" style="display: none;">{tax_sales}</span></div><!-- end sales -->
				</td>
				<td nowrap>
					<!-- begin quantity -->
					{quantity_control}<!-- end quantity -->	
					<!-- begin add_button -->
					<a class="button button-add" id="add_{item_id}" href="{buy_href}" onClick="return confirmBuy(document.form_{form_id}, 'cart');"><span>{ADD_BUTTON}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}"></a> 
					<!-- end add_button -->
					<!-- begin add_button_disabled -->
					<a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onClick="alert('{out_stock_alert}');">{ADD_BUTTON}</a> 
					<!-- end add_button_disabled -->
				</td>
				<td align="center"> 
					<!-- begin save -->
					<div class="priceSaveBlock">&nbsp;<span class="percent">{discount_percent}%</span></div><!-- end save -->
				</td>
				</form>
			</tr><!-- END items_cols -->
			<!-- begin delimiter -->
			<tr>
				<td colspan="8" class="productsDelimiter"><img src="images/tr.gif" alt=""></td>
			</tr><!-- end delimiter -->
			<!-- END items_rows -->
			<!-- end category_items -->
			</table>

	</td>
</tr>
</table>
<!-- begin products_sortings --><table width="100%" border="0" cellspacing="0" class="padding6px">
<tr class="middlebg">
	<td>{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</td>
</tr>
</table><!-- end products_sortings -->
<!-- begin search_and_navigation --><table width="100%" border="0" cellspacing="0" class="padding6px">
<tr>
	<!-- begin search_results -->
	<td>{FOUND_PRODUCTS_MSG}</td>
	<!-- end search_results -->
	<!-- begin navigator_block -->
	<td align="right" nowrap>{navigator}</td>
	<!-- end navigator_block -->
</tr>
</table><!-- end search_and_navigation -->

	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>

<form name="compare_form" action="{compare_href}">
<input type="hidden" name="items" value="">
</form>
<form name="forms_names" action="{compare_href}"><!-- begin forms -->
<input type="hidden" name="form_name" value="form_{form_id}"><!-- end forms -->
</form>
</div>