<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{CHECKOUT_PAYMENT_TITLE}</title>
<base href="{absolute_url}">
<link rel="stylesheet" href="{css_file}" type="text/css">
</head>

<body class="commonbg">

<!-- {header} -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="mainTable75">
<tr><td class="mainTableCell">

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="breadcrumb">
	<tr> 
		<td class="breadcrumbBegin"><img src="../images/tr.gif"></td>
		<td class="breadcrumbDelimiter">
			<table border="0" cellspacing="0" cellpadding="0"><tr><td valign="top">
				<span class="nonactive">Step 1. Personal and Delivery Data.</span> <span class="active">Step 2. Payment Details.</span> <span class="nonactive">Step 3. Order Confirmation.</span>
			</td></tr></table>
		</td>
		<td class="breadcrumbEnd"><img src="../images/tr.gif"></td>
	</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop">
	<tr> 
		<td class="titleTopLeft"><img src="../images/tr.gif" class="titleTopImgLeft" alt=""></td>
		<td class="titleTopCenter">
			<table cellspacing=0 cellpadding=0 border=0><tr><td><div>{CHECKOUT_PAYMENT_TITLE}</div></td></tr></table>
		</td>
		<td class="titleTopRight"><img src="../images/tr.gif" class="titleTopImgRight" alt=""></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
	<tr class="headerbg"> 
		<td class="blockTD">
			{html_snippet}
		</td>
	</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleBot">
	<tr> 
		<td class="titleBotLeft"><img src="../images/tr.gif" class="titleBotImgLeft" alt=""></td>
		<td class="titleBotRight"><img src="../images/tr.gif" class="titleBotImgRight" alt=""></td>
	</tr>
</table>

</td></tr></table>

<!-- {footer} -->

</body>
</html>