<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>..:: DB Error ::..</title>
<base href="{absolute_url}">
<link rel="stylesheet" href="{css_file}" type="text/css">
<!--[if lte IE 6]><style>.png { behavior: url("/css/iepngfix.htc") }</style><![endif]-->
<!--[if gte IE 7]><link type="text/css" rel="stylesheet" href="/css/IEcorners.css"><![endif]-->
</head>

<body class="commonbg">
{header}


<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="mainTable">
<tr><td class="mainTableCell">


	<div class="errorbg"> 
		
		<p><b>DB ERROR {error_number}</b></p>
		<p>We are very sorry, but an error has occurred while processing your request. 
		Please try the operation again by either pressing the Refresh button on your browser, 
		or by going back one page using the Back button. If the error persists, 
		please contact our web development team.
	
		<p>The details of the error are shown below. Please quote this in any 
		correspondance regarding this problem. 
	
		<p>{error_message}
	
	</div>


</td></tr></table>

{footer}
</body>
</html>