<script language="JavaScript" type="text/javascript">
<!--
{footer_js}
//-->
</script>

<div id="footer">
	<div id="footerCenter">
	<div id="footer-nav">
		<!-- begin footer_links -->
		<span>
		<a href="{menu_url}">{menu_title}</a>&nbsp;&nbsp;
		</span>
		<!-- end footer_links -->
	</div>

	<!--<ul id="sites">-->
		<!--<li class="topCategory">Our Sites</li>-->
		<!--<li>-->
			<!--<a href="http://www.customeuropeanplates.com">CustomEuropeanPlates.com</a>-->
		<!--</li>-->
		<!--<li>-->
			<!--<a href="http://www.holsterops.com">HolsterOps.com</a>-->
		<!--</li>-->
		<!--<li>-->
			<!--<a href="http://www.oilfiltersonline.com">OilFiltersOnline.com</a>-->
		<!--</li>-->
		<!--<li>-->
			<!--<a href="http://www.wizdog.com">Wizdog.com</a>-->
		<!--</li>-->
	<!--</ul>-->
	</div>
</div>
<!-- begin google_analytics -->
<!--<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{google_tracking_code}");
pageTracker._initData();
pageTracker._trackPageview();
</script>-->
<!-- end google_analytics -->

<!-- google analytics 2018 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112736212-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112736212-1');
</script>
<!-- end GA 2018 -->