<div id="header">
	<div id="headerCenter">
		<a href=""><img id="logoL" src="{logo_src}" alt="{logo_alt}" title="{logo_alt}" class="png"></a>
		<span id="freeShipping"><a href="special-offers" title="$5 Standard Shipping on all auto parts orders"><em>$5</em> Standard Shipping Any Order Any Size*</a></span>
		<ul id="corner-nav">
			<li id="viewCart"><a href="basket.php" class="button fixed">View Cart</a><div id="cartContents"></div></li>
			<li><a href="user_home.php" class="button fixed">Your Account</a></li>
		</ul>
		<div id="search_top">
		<form method="get" action="products_search.php">
			<input type="text" size="50" class="input" name="search_string">&nbsp;<input type="submit" value="Search" class="button">
		</form>
		</div>
	</div>
	<div class="topnav">
			<ul id="navigation">
				<li><a href="/" title="Your #1 Source for all of your automotive parts, filters and car accessories!">Home</a> </li>
				<li>
					<a href="products.php" title="The fastest and easiest way to buy car parts and accessories">Categories
					<span>Shop By Category</span></a>
						<ul>
									<li><a href="filters/Oil-Filters" title="Oil Filters">Oil Filters</a></li>
									<li><a href="filters/Air-Filters" title="Air Filters">Air Filters</a></li>
									<li><a href="filters/Fuel-Filters" title="Fuel Filters">Fuel Filters</a></li>
									<li><a href="filters/hydraulic-filters" title="Hydraulic Filters">Hydraulic Filters</a></li>
									<li><a href="/filters/coolant-filters" title="Coolant Filters">Coolant Filters</a></li>
						</ul>
				</li>
				<li>
					<a href="manufacturers" title="Find your car parts by Manufacturer">Manufacturers
					<span>Shop By Manufacturer</span></a>
						<ul>
							<li><a title="Bosch" href="manufacturers/Bosch">Bosch</a></li>
							<li><a title="Denso" href="manufacturers/Denso">Denso</a></li>
							<li><a title="Fram" href="manufacturers/Fram">FRAM</a></li>
						</ul>
				</li>
				<li>
					<a href="page.php?page=recycling" title="Use our Oil Recycling Location Finder to find the nearest oil recycling center">Oil Recycling<br>
					<span>Save The Environment</span></a>
				</li>
				<li> <a href="{site_url}blog" title="Holster and Gun Equipment Blog">Blog <span>Latest Info</span></a> 
					<ul>
						<li><a href="{site_url}blog/index.php/category/videos/" title="Holster Products and Accessories Videos">Videos</a></li>
					</ul>
		
				</li>		
				<li>
					<a href="articles.php?category_id=36" title="Ask our expert staff about filters, spark plugs, oxygen sensors and brake pads">Get Help
					<span>Ask A Question</span></a>
						<ul>
							<li><a title="Knowledge Base" href="Filter-Finder-Knowledge-Base">Knowledge Base</a></li>
							<li><a title="Ask A Question" href="support.php">Ask A Question</a></li>
						</ul>
				</li>
			</ul>
		</div>
</div>
