<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{html_title}</title>
<meta name="description" content="{meta_description}">
<meta name="keywords" content="{meta_keywords}">
<base href="{absolute_url}">
<link rel="stylesheet" href="{css_file}" type="text/css">
</head>

<body class="popup">

<table cellspacing="0" cellpadding="0" class="padding6px" border="0" width="100%" align="center">
	<tr>
		<td class="middlebg" align="center"><div class="middleTitle">{page_title}</div></td>
	</tr>
	<tr class="usualbg"> 
		<td>
		<br>
		<div>{page_body}</div>
		<br>
		</td>
	</tr>
	<tr>
		<td class="middlebg" align="center"><a class="headerbg" href="javascript:window.close();">{CLOSE_WINDOW_MSG}</a></td>
	</tr>
</table>

</body>
</html>