<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{PROD_TERMS_MSG}</title>
<base href="{absolute_url}">
<link rel="stylesheet" href="{css_file}" type="text/css">
</head>

<body class="popup">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="headerbg">
<tr><td> 

	<table cellspacing="1" cellpadding="3" border="0" width="100%" align="center">
	<tr>
		<td class="middlebg">&nbsp;&nbsp;{PROD_TERMS_MSG}&nbsp;</td>
	</tr>
	<tr class="usualbg"> 
		<td>
		<br>
			<table width="100%" border="0" cellpadding="3">
			<tr><td>{terms_text}</td></tr>
			</table>
		<br>
		</td>
	</tr>
	<tr>
		<td class="middlebg">&nbsp;&nbsp;<a href="javascript:window.close();">{CLOSE_WINDOW_MSG}</a></td>
	</tr>
	</table>

</td></tr>
</table>

</body>
</html>