<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ORDER_NOTE_MSG}</title>
<base href="{absolute_url}">
<link rel="stylesheet" href="{css_file}" type="text/css">
</head>

<body class="popup">

<table height="100%" width="100%" border="0" cellspacing="0" align="center">
<tr height=90%>
	<td align="center" valign="top" class="padding10px"> 
		<table cellspacing="0" cellpadding="10" border="0" width="100%">
		<tr class="middlebg" valign="top">
			<td><div class="title">{note_title}</div></td>
			<td align="right"><div class="articleDate">{note_date}</div></td>
		</tr>
		<tr valign="top" class="usualbg" bgcolor="white">
			<td colspan="2">
				{note_details}
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr height=10%>
	<td class="headerbg" align="center"> 
		<a href="#" class="headerbg" onclick="window.close();"><b>{CLOSE_WINDOW_MSG}</b></a>
	</td>
</tr>
</table>


</body>
</html>